{{define "content"}}
<div id="page1">
    <div class="back-btn-container">
        <button class="back-btn" onclick="history.back()">戻る</button>
    </div>
    <p class="pjs-list-title">出勤PJ一覧</p>
    <div class="pjs-list">
        {{range .PLITs}}
        <div class="pjs-item Names">{{.Name}}<span class="newpj-mark">{{.Level}}</span>
            <p class="AmPm"><span>{{.Ampm}}</span>{{.ShiftTime}}</p>
        </div>
        {{end}}
    </div>
    <div class="point-dog">
        <div class="dog-coment">
            <p class="checked-mes">
                <!-- ※赤色は入力済Pj -->
                全員入力しましたか？
            </p>
        </div>
        <div>
            <img src="/static/imgs/check-dog.gif" alt="" width="70px">
        </div>
    </div>
    <div class="page1-form-container page1-print-container">
        <table class="page1-form-table page1-check-table">
            <thead class="page1-form-thead">
                <tr class="page1-form-header-tr">
                    <th name="date-form date-print" class="page1-form-header-th page1-check-header-th">
                        {{.WITPAM.Date2}}
                    </th>
                    <th class="page1-form-header-th ampm am-rest" colspan="2">
                        {{.WITPAM.Ampm}}
                    </th>
                    <td class="ampm am-rest" hidden></td>
                </tr>
            </thead>
            <tbody class="page1-form-tbody">
                <tr class="page1-form-tbody-tr">
                    <th class="page1-form-tbody-th">サブPJ</th>
                    <td class="page1-form-tbody-td page1-check-tbody-td" colspan="2">
                        <div class="subpj">
                            {{range .RIITPsAM}}{{if eq .RoleName "サブPJ"}}{{.PjName}} {{end}}{{end}}
                        </div>
                    </td>
                </tr>
                <tr class="page1-form-tbody-tr">
                    <th class="page1-form-tbody-th">リーダー</th>
                    <td class="page1-form-tbody-td page1-check-tbody-td" colspan="2">
                        <div class="leader">
                            {{range .RIITPsAM}}{{if eq .RoleName "リーダー"}}{{.PjName}} {{end}}{{end}}

                        </div>
                    </td>
                </tr>
                <tr class="page1-form-tbody-tr">
                    <th class="page1-form-tbody-th">リターンリーダー</th>
                    <td class="page1-form-tbody-td page1-check-tbody-td" colspan="2">
                        <div class="returnleader">
                            {{range .RIITPsAM}}{{if eq .RoleName "リターンリーダー"}}{{.PjName}} {{end}}{{end}}

                        </div>
                    </td>
                </tr>
                <tr class="page1-form-tbody-tr">
                    <th class="page1-form-tbody-th">門番/駐車場</th>
                    <td class="page1-form-tbody-td page1-check-tbody-td">
                        <div class="gatekeeper">
                            {{range .RIITPsAM}}{{if eq .RoleName "門番＆第一"}}{{.PjName}} {{end}}{{end}}
                            <span>第一</span>
                        </div>
                    </td>
                    <td class="page1-form-tbody-td page1-check-tbody-td">
                        <div class="gatekeeper2">
                            {{range .RIITPsAM}}{{if eq .RoleName "門番＆第二"}}{{.PjName}} {{end}}{{end}}
                            <span>第二</span>
                        </div>
                    </td>
                </tr>

                <tr class="page1-form-tbody-tr">
                    <th class="page1-form-tbody-th">クローク
                        <br>
                        ＆Wt迎賓
                    </th>
                    <td class="page1-form-tbody-td page1-check-tbody-td" colspan="2">
                        <div class="cloak">
                            {{range .RIITPsAM}}{{if eq .RoleName "クローク"}}{{.PjName}} {{end}}{{end}}
                        </div>
                    </td>
                </tr>
                <tr class="page1-form-tbody-tr">
                    <th class="page1-form-tbody-th">クロークサブ
                        <br>
                        ＆Wt迎賓
                    </th>
                    <td class="page1-form-tbody-td page1-check-tbody-td" colspan="2">
                        <div class="cloaksub">
                            {{range .RIITPsAM}}{{if eq .RoleName "クロークサブ"}}{{.PjName}} {{end}}{{end}}
                        </div>
                    </td>
                </tr>
                <tr class="page1-form-tbody-tr">
                    <th class="page1-form-tbody-th">コーヒー＆<br>デトックス</th>
                    <td class="page1-form-tbody-td page1-check-tbody-td" colspan="2">
                        <div class="coffee">
                            {{range .RIITPsAM}}{{if eq .RoleName "コーヒー"}}{{.PjName}} {{end}}{{end}}

                        </div>
                    </td>
                </tr>
                <tr class="page1-form-tbody-tr">
                    <th class="page1-form-tbody-th">ドリカン両親係</th>
                    <td class="page1-form-tbody-td page1-check-tbody-td">
                        <div class="drinkmain">
                            {{range .RIITPsAM}}{{if eq .RoleName "ドリカン＆作"}}{{.PjName}} {{end}}{{end}}
                            <span>作＆郎側</span>
                        </div>
                    </td>
                    <td class="page1-form-tbody-td page1-check-tbody-td">
                        <div class="drinksub">
                            {{range .RIITPsAM}}{{if eq .RoleName "ドリカン＆聞"}}{{.PjName}} {{end}}{{end}}
                            <span>聞＆婦側</span>
                        </div>
                    </td>
                </tr>
                <tr class="page1-form-tbody-tr">
                    <th class="page1-form-tbody-th">ドリカンサブ</th>
                    <td class="page1-form-tbody-td page1-check-tbody-td" colspan="2">
                        <div class="drinksubsub">
                            {{range .RIITPsAM}}{{if eq .RoleName "ドリカンサブ"}}{{.PjName}} {{end}}{{end}}

                        </div>
                    </td>
                </tr>
                <tr class="page1-form-tbody-tr">
                    <th class="page1-form-tbody-th">シャンパン＆ワイン
                        <br>
                        ＆チャペル誘導
                    </th>
                    <td class="page1-form-tbody-td page1-check-tbody-td" colspan="2">
                        <div class="champagne">
                            {{range .RIITPsAM}}{{if eq .RoleName "シャンパン＆ワイン"}}{{.PjName}} {{end}}{{end}}

                        </div>
                    </td>
                </tr>
                <tr class="page1-form-tbody-tr">
                    <th class="page1-form-tbody-th">シルバー＆ワイン
                        <br>
                        ＆おしぼり回収
                    </th>
                    <td class="page1-form-tbody-td page1-check-tbody-td" colspan="2">
                        <div class="silver">
                            {{range .RIITPsAM}}{{if eq .RoleName "シルバー＆ワイン"}}{{.PjName}} {{end}}{{end}}

                        </div>
                        <span class="towel-check">おしぼり回収チェック □</span>
                    </td>
                </tr>
                <tr class="page1-form-tbody-tr">
                    <th class="page1-form-tbody-th">アペ＆水
                        <br>
                        ＆アルコール係
                    </th>
                    <td class="page1-form-tbody-td page1-check-tbody-td" colspan="2">
                        <div class="ape">
                            {{range .RIITPsAM}}{{if eq .RoleName "アペ＆水"}}{{.PjName}} {{end}}{{end}}
                        </div>
                    </td>
                    </td>
                </tr>
                <tr class="page1-form-tbody-tr">
                    <th class="page1-form-tbody-th">トイレタバコチェック＆<br>ガーデンヒーター</th>
                    <td class="page1-form-tbody-td page1-check-tbody-td">
                        <div class="toiletman">
                            {{range .RIITPsAM}}{{if eq .RoleName "トイレタバコ男"}}{{.PjName}} {{end}}{{end}}
                            <span>男性＆タバコ</span>
                        </div>
                    </td>
                    <td class="page1-form-tbody-td page1-check-tbody-td">
                        <div class="toiletlady">
                            {{range .RIITPsAM}}{{if eq .RoleName "トイレタバコ女"}}{{.PjName}} {{end}}{{end}}
                            <span>女性＆多目的</span>
                        </div>
                    </td>
                </tr>
                <tr class="page1-form-tbody-tr">
                    <th class="page1-form-tbody-th">洗い場</th>
                    <td class="page1-form-tbody-td page1-check-tbody-td">
                        <div class="wash1">
                            {{range .RIITPsAM}}{{if eq .RoleName "洗い場洗い"}}{{.PjName}} {{end}}{{end}}
                            <span>洗い</span>
                        </div>
                    </td>
                    <td class="page1-form-tbody-td page1-check-tbody-td">
                        <div class="wash2">
                            {{range .RIITPsAM}}{{if eq .RoleName "洗い場拭き"}}{{.PjName}} {{end}}{{end}}
                            <span>拭き</span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="trainer-trainee-form-container">
            <table class="trainer-trainee-form-table">
                <thead class="trainer-trainee-form-thead">
                    <tr class="trainer-trainee-form-thead-tr">
                        <th class="trainer-trainee-form-thead-th trainer-trainee-check-thead-th">トレーナー</th>
                        <th class="trainer-trainee-form-thead-th trainer-trainee-check-thead-th">トレーニー</th>
                    </tr>
                </thead>
                <tbody class="trainer-trainee-check-tbody">
                    {{range .TTs}}
                    {{if or ( ne .Trainer "") (ne .Trainee "")}}
                    <tr class="trainer-trainee-form-tbody-tr">
                        <td class="trainer-trainee-form-tbody-td">
                            {{.Trainer}}
                        </td>
                        <td class="trainer-trainee-form-tbody-td">
                            {{.Trainee}}
                        </td>
                    </tr>
                    {{end}}
                    {{end}}
                </tbody>
            </table>
        </div>
    </div>
    <footer class="footer-design">
        <div class=" footer-design-div">
            <button class="btn-design" onclick="history.back()">戻る</button>
            <button class="btn-design" onclick="window.print()">印刷</button>
        </div>
    </footer>
</div>
<div id="page2">
    <!-- <h2>休憩リスト</h2> -->
    <div class="rest">
        <div class="rest-am rest-ampm-container">
            <h3>AM</h3>
            <table class="rest-tbl-design">
                <tbody>
                    <tr class="page1-form-tbody-tr">
                        <th>休憩時間</th>
                        <td class="td-title">休憩メンバー</td>
                    </tr>
                    <tr class="page1-form-tbody-tr">
                        <th>10:00-10:45
                            <p>挙式中</p>
                        </th>
                        <td class="rest-drink">
                            {{range .RICPs}}{{if or (eq .RoleName "ドリカン＆作") (eq .RoleName "ドリカン＆聞")}}{{.PjName}} {{end}}{{end}}
                        </td>
                    </tr>
                    <tr class="page1-form-tbody-tr">
                        <th>10:30-11:15
                            <p>ガーデン～乾杯</p>
                        </th>
                        <td class="rest-coffee">
                            {{range .RICPs}}{{if eq .RoleName "コーヒー"}}{{.PjName}} {{end}}{{end}}
                        </td>
                    </tr>
                    <tr class="page1-form-tbody-tr">
                        <th>11:00-11:45
                            <p>プルミエ～ポワソン</p>
                        </th>
                        <td class="rest-gatekeeper">
                            {{range .RICPs}}{{if or (eq .RoleName "門番＆第二") (eq .RoleName "門番＆第一")}}{{.PjName}} {{end}}{{end}}
                        </td>
                    </tr>
                    <tr class="page1-form-tbody-tr">
                        <th>11:30-12:15
                            <p>ポワソン～</p>
                        </th>
                        <td class="rest-cloak">
                            {{range .RICPs}}{{if or (eq .RoleName "クロークサブ") (or (eq .RoleName "リターンリーダー") (eq .RoleName "クローク"))}}{{.PjName}} {{end}}{{end}}
                        </td>
                    </tr>
                    <tr class="page1-form-tbody-tr">
                        <th>12:00-12:45
                            <p>ビアンド～</p>
                        </th>
                        <td class="rest-ape">
                            {{range .RICPs}}{{if or (eq .RoleName "アペ＆水") (eq .RoleName "トイレタバコ男")}}{{.PjName}} {{end}}{{end}}
                        </td>
                    </tr>
                    <tr class="page1-form-tbody-tr">
                        <th>12:30-13:15
                            <p>デザート～</p>

                        </th>
                        <td class="rest-silver">
                            {{range .RICPs}}{{if eq .RoleName "シルバー＆ワイン"}}{{.PjName}} {{end}}{{end}}
                        </td>
                    </tr>
                    <tr class="page1-form-tbody-tr">
                        <th>13:00-13:45
                            <p>クライマックス</p>
                        </th>
                        <td class="rest-champagne">
                            {{range .RICPs}}{{if or (eq .RoleName "シャンパン＆ワイン") (eq .RoleName "トイレタバコ女")}}{{.PjName}} {{end}}{{end}}
                        </td>
                    </tr>
                    <tr class="page1-form-tbody-tr">
                        <th>13:30-14:15
                            <p>お見送り</p>
                        </th>
                        <td class="rest-leader">
                            {{range .RICPs}}{{if eq .RoleName "リーダー"}}{{.PjName}} {{end}}{{end}}
                        </td>
                    </tr>
                    <tr class="page1-form-tbody-tr">
                        <th>14:00-14:45
                            <p>リターン</p>
                        </th>
                        <td class="rest-subpj">
                            {{range .RICPs}}{{if eq .RoleName "サブPJ"}}{{.PjName}} {{end}}{{end}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{{end}}