{{define "content"}}

<h1>シフト変更</h1>
<div class="back-btn-container">
    <button class="back-btn" onclick="location.href = '/top'">戻る</button>
</div>
<div class="page1-form-container shiftlist-page-container">
    <table class="page1-form-table shiftlist-page-table">
        <thead class="page1-form-thead">
            <tr class="page1-form-header-tr">
                <th class="page1-form-header-th">名前</th>
                <th class="page1-form-header-th">出勤時間</th>
                <th class="page1-form-header-th">出勤情報</th>
            </tr>
        </thead>
        <tbody class="page1-form-tbody">
            {{range .PLITs}}
            <tr class="page1-form-tbody-tr">
                <td class="page1-form-tbody-td" name="pjname">{{.Name}}</td>
                <td class="page1-form-tbody-td">{{.ShiftTime}}</td>
                <td class="page1-form-tbody-td">{{.Ampm}}</td>
                <!-- <td class="page1-form-tbody-td">
                    <button onclick="deletePjShift('{{.Year}}','{{.Month}}','{{.Day}}','{{.PjName}}')">シフトを削除</button>
                </td> -->
            </tr>
            {{end}}
        </tbody>
        <form action="/addpjshift" method="post">

            <div class="top-viewshift-form-pjname-input">
                <input type="text" name="pjName" required>
            </div>
            <div class="top-viewshift-form-pjname-input">
                <input type="text" name="shiftime" required>
            </div>
            <div class="cp_ipselect cp_sl01">
                <select name="month" required>
                    <option value="" hidden></option>
                    <option value="AM">AM</option>
                    <option value="PM">PM</option>
                    <option value="試食会">試食会</option>
                </select>
            </div>
            <!-- {{range _,$i = . }}
            {{if $i ==0}}
            <span name="year" hiddent value={{.Year}}></span>
            <span name="month" hiddent value={{.Month}}></span>
            <span name="day" hiddent value={{.Day}}></span>
            {{end}}
            {{end}} -->
        </form>
    </table>
</div>

{{end}}