{{define "content"}}
<div id="page1">

    <div class="wrapper">
        <footer>
            <div class="button_solid015">
                <button class="back-button" onclick="history.back()">戻る</button>
                <button class="print-button" onclick="window.print()">印刷</button>
            </div>
        </footer>
        <p class="pjs-list-title">出勤PJ一覧</p>
        <div class="pjs-list">
            {{range .Pjs}}
            {{if or (eq .AmPm "ダブル") (eq .AmPm "AM")}}
            <div class="pjs-item Names{{if or (and .CheckAM .CheckPM) (and .CheckAM (not .CheckPM))}} CheckAM{{end}}">
                {{.Names}}
                <p class="AmPm">{{.AmPm}}</p>
            </div>
            {{end}}
            {{end}}
            <!-- {{range .Pjs}}
        {{if eq .AmPm "AM"}}
        <div class="pjs-item Names{{if and .CheckAM (not .CheckPM)}} CheckAM{{end}}">{{.Names}}</div>
        {{end}}
        {{end}} -->
        </div>
        <div class="point-dog">
            <div class="box2">
                <p class="checked-mes">※赤色は入力済Pj
                    <br>
                    全員入力しましたか？
                </p>
            </div>
            <div>
                <img src="/static/imgs/check-dog.gif" alt="" width="70px">
            </div>
        </div>
        <div class="AM AMPM-container">
            <table>
                <tbody>
                    <tr>
                        <th class="jobName date-print">
                            {{range $i,$pj := .Pjs}}
                            {{if eq $i 0}}
                            <input type="hidden" name="date-form" value={{$pj.Date}}>
                            {{$pj.Date}}
                            {{end}}
                            {{end}}
                        </th>
                        <td class="ampm" colspan="2">AM</td>
                    </tr>
                    <tr>
                        <th class="jobName">サブPJ</th>
                        <td colspan="2">
                            <div class="subpj">
                                {{range .Roles}}
                                {{if ne .RoleName "subpj"}}{{else}}{{.PjName}}{{end}}
                                {{end}}
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <th class="jobName in">リーダー</th>
                        <td colspan="2">
                            <div class="leader">
                                {{range .Roles}}
                                {{if ne .RoleName "leader"}}{{else}}{{.PjName}}{{end}}
                                {{end}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="jobName in">リターンリーダー</th>
                        <td colspan="2">
                            <div class="returnleader">
                                {{range .Roles}}
                                {{if ne .RoleName "returnleader"}}{{else}}{{.PjName}}{{end}}
                                {{end}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="jobName in">門番/駐車場</th>
                        <td>
                            <div class="gatekeeper">
                                {{range .Roles}}
                                {{if ne .RoleName "gatekeeper"}}{{else}}{{.PjName}}{{end}}
                                {{end}}
                                <span>第一</span>
                            </div>
                        </td>
                        <td>
                            <div class="parkkeeper1">
                                {{range .Roles}}
                                {{if ne .RoleName "parkkeeper1"}}{{else}}{{.PjName}}{{end}}
                                {{end}}
                            </div>

                            <div class="parkkeeper2">
                                {{range .Roles}}
                                {{if ne .RoleName "parkkeeper2"}}{{else}}{{.PjName}}{{end}}
                                {{end}}
                                <span>第二</span>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <th class="jobName">クローク
                            <br>
                            &Wt迎賓
                        </th>
                        <td colspan="2">
                            <div class="cloak">
                                {{range .Roles}}
                                {{if ne .RoleName "cloak"}}{{else}}{{.PjName}}{{end}}
                                {{end}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="jobName">クロークサブ
                            <br>
                            &Wt迎賓
                        </th>
                        <td colspan="2">
                            <div class="cloaksub">
                                {{range .Roles}}
                                {{if ne .RoleName "cloaksub"}}{{else}}{{.PjName}}{{end}}
                                {{end}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="jobName">コーヒー＆<br>デトックス</th>
                        <td colspan="2">
                            <div class="coffee">
                                {{range .Roles}}
                                {{if ne .RoleName "coffee"}}{{else}}{{.PjName}}{{end}}
                                {{end}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="jobName">ドリカン両親係</th>
                        <td>
                            <div class="drinkmain">
                                {{range .Roles}}
                                {{if ne .RoleName "drinkmain"}}{{else}}{{.PjName}}{{end}}
                                {{end}}<span>作&郎側</span>
                            </div>
                        </td>
                        <td>
                            <div class="drinksub">
                                {{range .Roles}}
                                {{if ne .RoleName "drinksub"}}{{else}}{{.PjName}}{{end}}
                                {{end}}<span>聞&婦側</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="jobName">ドリカンサブ</th>
                        <td colspan="2">
                            <div class="drinksubsub">
                                {{range .Roles}}
                                {{if ne .RoleName "drinksubsub"}}{{else}}{{.PjName}}{{end}}
                                {{end}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="jobName">シャンパン＆ワイン
                            <br>
                            &チャペル誘導
                        </th>
                        <td>
                            <div class="champagne1">
                                {{range .Roles}}
                                {{if ne .RoleName "champagne1"}}{{else}}{{.PjName}}{{end}}
                                {{end}}
                            </div>
                        </td>
                        <td>
                            <div class="champagne2">
                                {{range .Roles}}
                                {{if ne .RoleName "champagne2"}}{{else}}{{.PjName}}{{end}}
                                {{end}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="jobName">シルバー＆ワイン
                            <br>
                            &おしぼり回収
                        </th>
                        <td>
                            <div class="silver1">
                                {{range .Roles}}
                                {{if ne .RoleName "silver1"}}{{else}}{{.PjName}}{{end}}
                                {{end}}
                            </div>
                            <span class = "towel-check">おしぼり回収チェック □</span>
                        </td>
                        <td>
                            <div class="silver2">
                                {{range .Roles}}
                                {{if ne .RoleName "silver2"}}{{else}}{{.PjName}}{{end}}
                                {{end}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class=" jobName">アペ＆水
                            <br>
                            &アルコール係
                        </th>
                        <td colspan="2">
                            <div class="ape1">
                                {{range .Roles}}
                                {{if ne .RoleName "ape1"}}{{else}}{{.PjName}}{{end}}
                                {{end}}
                            </div>
                            <div class="ape2">
                                {{range .Roles}}
                                {{if ne .RoleName "ape2"}}{{else}}{{.PjName}}{{end}}
                                {{end}}
                            </div>
                        </td>
                        </td>
                    </tr>
                    <tr>
                        <th class="jobName">トイレタバコチェック＆<br>ガーデンヒーター</th>
                        <td>
                            <div class="toiletman">
                                {{range .Roles}}
                                {{if ne .RoleName "toiletman"}}{{else}}{{.PjName}}{{end}}
                                {{end}}<span>男性＆タバコ</span>
                            </div>
                        </td>
                        <td>
                            <div class="toiletlady">
                                {{range .Roles}}
                                {{if ne .RoleName "toiletlady"}}{{else}}{{.PjName}}{{end}}
                                {{end}}<span>女性＆多目的</span>
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <th class="jobName">洗い場</th>
                        <td>
                            <div class="wash1">
                                {{range .Roles}}
                                {{if ne .RoleName "wash1"}}{{else}}{{.PjName}}{{end}}
                                {{end}}<span>洗い</span>
                            </div>
                        </td>
                        <td>
                            <div class="wash2">
                                {{range .Roles}}
                                {{if ne .RoleName "wash2"}}{{else}}{{.PjName}}{{end}}
                                {{end}}<span>拭き</span>
                            </div>
                        </td>
                    </tr>

                    <!-- <tr>
                        <th class="jobName small-jobname">ウェイティング迎賓係</th>
                        <td class="small-td" colspan="2">
                            <div class="wtreception">
                                {{range .Roles}}
                                {{if ne .RoleName "wtreception"}}{{else}}{{.PjName}}{{end}}
                                {{end}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="jobName small-jobname">迎賓時アルコール係</th>
                        <td class="small-td" colspan="2">
                            <div class="alreception1">
                                {{range .Roles}}
                                {{if ne .RoleName "alreception1"}}{{else}}{{.PjName}}{{end}}
                                {{end}}
                            </div>


                            <div class="alreception2">
                                {{range .Roles}}
                                {{if ne .RoleName "alreception2"}}{{else}}{{.PjName}}{{end}}
                                {{end}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="jobName small-jobname">チャペル誘導係</th>
                        <td class="small-td" colspan="2">
                            <div class="chreception1">
                                {{range .Roles}}
                                {{if ne .RoleName "chreception1"}}{{else}}{{.PjName}}{{end}}
                                {{end}}
                            </div>


                            <div class="chreception2">
                                {{range .Roles}}
                                {{if ne .RoleName "chreception2"}}{{else}}{{.PjName}}{{end}}
                                {{end}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="jobName small-jobname">おしぼり回収・プルミエ後</th>
                        <td class="small-td" colspan="2">
                            <div class="towel1">
                                {{range .Roles}}
                                {{if ne .RoleName "towel1"}}{{else}}{{.PjName}}{{end}}
                                {{end}}
                            </div>


                            <div class="towel2">
                                {{range .Roles}}
                                {{if ne .RoleName "towel2"}}{{else}}{{.PjName}}{{end}}
                                {{end}}
                            </div>
                        </td>
                    </tr> -->
                </tbody>
            </table>
        </div>
        <div class="pjs-list">
            {{range .Pjs}}
            {{if or (eq .AmPm "ダブル") (eq .AmPm "PM")}}
            <div class="pjs-item Names{{if or (and .CheckAM .CheckPM) (and .CheckPM (not .CheckAM))}} CheckAM{{end}}">
                {{.Names}}
                <p class="AmPm">{{.AmPm}}</p>
            </div>
            {{end}}
            {{end}}
            <!-- {{range .Pjs}}
        {{if eq .AmPm "PM"}}
        <div class="pjs-item Names{{if and .CheckPM (not .CheckAM)}} CheckPM{{end}}">{{.Names}}</div>
        {{end}}
        {{end}} -->
        </div>
        <div class="point-dog">
            <div class="box2">
                <p class="checked-mes">※赤色は入力済Pj
                    <br>
                    全員入力しましたか？
                </p>
            </div>
            <div>
                <img src="/static/imgs/check-dog.gif" alt="" width="70px">
            </div>
        </div>
        <div class="PM AMPM-container">
            <table>
                <tbody>
                    <tr>
                        <th class="jobName date-print">
                            {{range $i,$pj := .Pjs}}
                            {{if eq $i 0}}
                            <input type="hidden" name="date-form" value={{$pj.Date}}>
                            {{$pj.Date}}
                            {{end}}
                            {{end}}
                        </th>
                        <td class="ampm" colspan="2">PM Or 試食会</td>
                    </tr>
                    <tr>
                        <th class="jobName">サブPJ</th>
                        <td colspan="2">
                            <div class="subpjP">
                                {{range .Roles}}
                                {{if ne .RoleName "subpjP"}}{{else}}{{.PjName}}{{end}}
                                {{end}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="jobName">リーダー</th>
                        <td colspan="2">
                            <div class="leaderP">
                                {{range .Roles}}
                                {{if ne .RoleName "leaderP"}}{{else}}{{.PjName}}{{end}}
                                {{end}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="jobName">リターンリーダー</th>
                        <td colspan="2">
                            <div class="returnleaderP">
                                {{range .Roles}}
                                {{if ne .RoleName "returnleaderP"}}{{else}}{{.PjName}}{{end}}
                                {{end}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="jobName">門番/駐車場</th>
                        <td>
                            <div class="gatekeeperP">
                                {{range .Roles}}
                                {{if ne .RoleName "gatekeeperP"}}{{else}}{{.PjName}}{{end}}
                                {{end}}
                                <span>第一</span>
                            </div>
                        </td>
                        <td>
                            <div class="parkkeeper1P">
                                {{range .Roles}}
                                {{if ne .RoleName "parkkeeper1P"}}{{else}}{{.PjName}}{{end}}
                                {{end}}
                            </div>


                            <div class="parkkeeper2P">
                                {{range .Roles}}
                                {{if ne .RoleName "parkkeeper2P"}}{{else}}{{.PjName}}{{end}}
                                {{end}}
                                <span>第二</span>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <th class="jobName">クローク
                            <br>
                            &Wt迎賓
                        </th>
                        <td colspan="2">
                            <div class="cloakP">
                                {{range .Roles}}
                                {{if ne .RoleName "cloakP"}}{{else}}{{.PjName}}{{end}}
                                {{end}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="jobName">クロークサブ
                            <br>
                            &Wt迎賓
                        </th>
                        <td colspan="2">
                            <div class="cloaksubP">
                                {{range .Roles}}
                                {{if ne .RoleName "cloaksubP"}}{{else}}{{.PjName}}{{end}}
                                {{end}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="jobName">コーヒー＆<br>デトックス</th>
                        <td colspan="2">
                            <div class="coffeeP">
                                {{range .Roles}}
                                {{if ne .RoleName "coffeeP"}}{{else}}{{.PjName}}{{end}}
                                {{end}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="jobName">ドリカン両親係</th>
                        <td>
                            <div class="drinkmainP">
                                {{range .Roles}}
                                {{if ne .RoleName "drinkmainP"}}{{else}}{{.PjName}}{{end}}
                                {{end}}<span>作&郎側</span>
                            </div>
                        </td>
                        <td>
                            <div class="drinksubP">
                                {{range .Roles}}
                                {{if ne .RoleName "drinksubP"}}{{else}}{{.PjName}}{{end}}
                                {{end}}<span>聞&婦側</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="jobName">ドリカンサブ</th>
                        <td colspan="2">
                            <div class="drinksubsubP">
                                {{range .Roles}}
                                {{if ne .RoleName "drinksubsubP"}}{{else}}{{.PjName}}{{end}}
                                {{end}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="jobName">シャンパン＆ワイン
                            <br>
                            &チャペル誘導
                        </th>
                        <td>
                            <div class="champagne1P">
                                {{range .Roles}}
                                {{if ne .RoleName "champagne1P"}}{{else}}{{.PjName}}{{end}}
                                {{end}}
                            </div>
                        </td>
                        <td>
                            <div class="champagne2P">
                                {{range .Roles}}
                                {{if ne .RoleName "champagne2P"}}{{else}}{{.PjName}}{{end}}
                                {{end}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="jobName">シルバー＆ワイン
                            <br>
                            &おしぼり回収
                        </th>
                        <td>
                            <div class="silver1P">
                                {{range .Roles}}
                                {{if ne .RoleName "silver1P"}}{{else}}{{.PjName}}{{end}}
                                {{end}}
                            </div>
                            <span class = "towel-check">おしぼり回収チェック □</span>
                        </td>
                        <td>
                            <div class="silver2P">
                                {{range .Roles}}
                                {{if ne .RoleName "silver2P"}}{{else}}{{.PjName}}{{end}}
                                {{end}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class=" jobName">アペ＆水
                            <br>
                            &アルコール係
                        </th>
                        <td colspan="2">
                            <div class="ape1P">
                                {{range .Roles}}
                                {{if ne .RoleName "ape1P"}}{{else}}{{.PjName}}{{end}}
                                {{end}}
                            </div>
                            <div class="ape2P">
                                {{range .Roles}}
                                {{if ne .RoleName "ape2P"}}{{else}}{{.PjName}}{{end}}
                                {{end}}
                            </div>
                        </td>
                        </td>
                    </tr>
                    <tr>
                        <th class="jobName">トイレタバコチェック＆<br>ガーデンヒーター</th>
                        <td>
                            <div class="toiletmanP">
                                {{range .Roles}}
                                {{if ne .RoleName "toiletmanP"}}{{else}}{{.PjName}}{{end}}
                                {{end}}<span>男性＆タバコ</span>
                            </div>
                        </td>
                        <td>
                            <div class="toiletladyP">
                                {{range .Roles}}
                                {{if ne .RoleName "toiletladyP"}}{{else}}{{.PjName}}{{end}}
                                {{end}}<span>女性＆多目的</span>
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <th class="jobName">洗い場</th>
                        <td>
                            <div class="wash1P">
                                {{range .Roles}}
                                {{if ne .RoleName "wash1P"}}{{else}}{{.PjName}}{{end}}
                                {{end}}<span>洗い</span>
                            </div>
                        </td>
                        <td>
                            <div class="wash2P">
                                {{range .Roles}}
                                {{if ne .RoleName "wash2P"}}{{else}}{{.PjName}}{{end}}
                                {{end}}<span>拭き</span>
                            </div>
                        </td>
                    </tr>

                    <!-- <tr>
                        <th class="jobName small-jobname">ウェイティング迎賓係</th>
                        <td class="small-td" colspan="2">
                            <div class="wtreceptionP">
                                {{range .Roles}}
                                {{if ne .RoleName "wtreceptionP"}}{{else}}{{.PjName}}{{end}}
                                {{end}}
                            </div>
                        </td>
                    </tr> -->
                    <!-- <tr>
                        <th class="jobName small-jobname">迎賓時アルコール係</th>
                        <td class="small-td" colspan="2">
                            <div class="alreception1P">
                                {{range .Roles}}
                                {{if ne .RoleName "alreception1P"}}{{else}}{{.PjName}}{{end}}
                                {{end}}
                            </div>


                            <div class="alreception2P">
                                {{range .Roles}}
                                {{if ne .RoleName "alreception2P"}}{{else}}{{.PjName}}{{end}}
                                {{end}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="jobName small-jobname">チャペル誘導係</th>
                        <td class="small-td" colspan="2">
                            <div class="chreception1P">
                                {{range .Roles}}
                                {{if ne .RoleName "chreception1P"}}{{else}}{{.PjName}}{{end}}
                                {{end}}
                            </div>


                            <div class="chreception2P">
                                {{range .Roles}}
                                {{if ne .RoleName "chreception2P"}}{{else}}{{.PjName}}{{end}}
                                {{end}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="jobName small-jobname">おしぼり回収・プルミエ後</th>
                        <td class="small-td" colspan="2">
                            <div class="towel1P">
                                {{range .Roles}}
                                {{if ne .RoleName "towel1P"}}{{else}}{{.PjName}}{{end}}
                                {{end}}
                            </div>

                            <div class="towel2P">
                                {{range .Roles}}
                                {{if ne .RoleName "towel2P"}}{{else}}{{.PjName}}{{end}}
                                {{end}}
                            </div>
                        </td>
                    </tr> -->
                </tbody>
            </table>
        </div>
        <div class="trainer-trainee-container">
            <table>
                <thead>
                    <tr>
                        <th>トレーナー</th>
                        <th>トレーニー</th>
                    </tr>
                </thead>
                <tbody>
                    {{range .Trainers}}
                    {{if or ( ne .TrainerName "") (ne .TraineeName "")}}
                    <tr>
                        <td class="trainer-name-check">{{.TrainerName}}</td>
                        <td class="trainee-name-check">{{.TraineeName}}</td>
                    </tr>
                    {{end}}
                    {{end}}
                </tbody>
            </table>
        </div>
        <footer>
            <div class="button_solid015">
                <button class="back-button" onclick="history.back()">戻る</button>
                <button class="print-button" onclick="window.print()">印刷</button>
            </div>
        </footer>
    </div>
</div>
<div id="page2">
    <!-- <h2>休憩リスト</h2> -->
    <div class="rest">
        <div class="rest-am rest-ampm-container">
            <h3>AM</h3>
            <table class="rest-tbl-design">
                <tbody>
                    <tr>
                        <th>休憩時間</th>
                        <td class="td-title">休憩メンバー</td>
                    </tr>
                    <tr>
                        <th>10:00-10:30
                            <p>挙式中</p>
                        </th>
                        <td class="rest-drink"></td>
                    </tr>
                    <tr>
                        <th>10:30-11:00
                            <p>ガーデン～乾杯</p>
                        </th>
                        <td class="rest-coffee"></td>
                    </tr>
                    <tr>
                        <th>11:00-11:30
                            <p>プルミエ～ポワソン</p>

                        </th>
                        <td class="rest-gatekeeper"></td>
                    </tr>
                    <tr>
                        <th>11:30-12:00
                            <p>ポワソン～</p>

                        </th>
                        <td class="rest-cloak"></td>
                    </tr>
                    <tr>
                        <th>12:00-12:30
                            <p>ビアンド～</p>

                        </th>
                        <td class="rest-ape"></td>
                    </tr>
                    <tr>
                        <th>12:30-13:00
                            <p>デザート～</p>

                        </th>
                        <td class="rest-silver"></td>
                    </tr>
                    <tr>
                        <th>13:00-13:30
                            <p>クライマックス</p>

                        </th>
                        <td class="rest-champagne"></td>
                    </tr>
                    <tr>
                        <th>13:30-14:00
                            <p>お見送り</p>

                        </th>
                        <td class="rest-leader"></td>
                    </tr>
                    <tr>
                        <th>14:00-14:30
                            <p>リターン</p>

                        </th>
                        <td class="rest-subpj"></td>

                    </tr>
                    <tr>
                        <th>※AM,PMのPjさん
                            <p>休憩方法</p>
                        </th>
                        <td>※休憩開始時間を守り、45分休憩!</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="rest-pm rest-ampm-container">
            <h3>PM</h3>
            <table class="rest-tbl-design">
                <tbody>
                    <tr>
                        <th>休憩時間</th>
                        <td class="td-title">休憩メンバー</td>
                    </tr>
                    <tr>
                        <th>16:00-16:30
                            <p>準備中</p>
                        </th>
                        <td class="rest-drinkP"></td>
                    </tr>
                    <tr>
                        <th>16:30-17:00
                            <p>迎賓中</p>
                        </th>
                        <td class="rest-coffeeP"></td>
                    </tr>
                    <tr>
                        <th>17:00-17:30
                            <p>アミューズ～プルミエ</p>
                        </th>
                        <td class="rest-gatekeeperP"></td>
                    </tr>
                    <tr>
                        <th>17:30-18:00
                            <p>ポワソン</p>
                        </th>
                        <td class="rest-cloakP"></td>
                    </tr>
                    <tr>
                        <th>18:00-18:30
                            <p>ビアンド</p>
                        </th>
                        <td class="rest-apeP"></td>
                    </tr>
                    <tr>
                        <th>18:30-19:00
                            <p>デザート|ビュッフェ</p>
                        </th>
                        <td class="rest-silverP"></td>
                    </tr>
                    <tr>
                        <th>19:00-19:30
                            <p>お見送り</p>
                        </th>
                        <td class="rest-champagneP"></td>
                    </tr>
                    <tr>
                        <th>19:15-19:45
                            <p>リターン</p>
                        </th>
                        <td class="rest-leaderP"></td>
                    </tr>
                    <tr>
                        <th>19:30-20:00
                            <p>リターン</p>
                        </th>
                        <td class="rest-subpjP"></td>
                    </tr>
                    <tr>
                        <th>※AM,PMのPjさん
                            <p>休憩方法</p>
                        </th>
                        <td>※休憩開始時間を守り、45分休憩!</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

{{end}}