{{ define "content" }}
<div id="page1" class="loging-page ">
  <form class="login-form form-design" role="form" action="/authenticate" method="post">
    <div class="form-title">
      <p>ログイン</p>
    </div>
    <div class="form-body">
      <input type="text" name="name" class="form-control" placeholder="ユーザー名" required autofocus>
      <input type="text" name="password" class="form-control" placeholder="パスワード" required>
    </div>
    <div class="btndesign-2">
      <button class="back-btn" type="submit">ログイン</button>
    </div>
  </form>
</div>
{{end}}