{{define "content" }}
<div id="signup-form-content">
    <h1 class="text-center">signup</h1>
    <form class="form-signin" role="form" action="/signup" method="post">
        <h2 class="form-signin-heading">
            <i class="fa fa-comments-o">
                RoleMaster
            </i>
        </h2>
        <div class="lead">登録</div>
        <input id="name" type="text" name="name" class="form-control" placeholder="お名前" required autofocus>
        <input type="text" name="password" class="form-control" placeholder="パスワード" required>
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登録</button>
        <br>
        <a class="lead pull-right" href="/login">ログイン</a>
    </form>
</div>
{{end}}