{{define "content"}}
<div class="wrapper">

    <h1 class="maintitle heading-018">RoleMaster</h1>
    <!-- 
    <div class="button_solid007">
        <p>現在のシフト</p>
    </div>
    <div class="file-name-title">
        <text>データベース追加済</text>
    </div>
     -->
    <!-- 
    <form id="delete-form" action="/delete" method="post">
        <input type="hidden" name="filename" value={{.}}>
        <div class="button_solid015">
            <input type="hidden" value="削除" onclick="confirmDelete(event)">
        </div>
        <div class="box2">
            <p>※月が変わったらファイルを削除してください</p>
        </div>
    </form>
    -->
    <form id="date-form" action="/typingpage" method="post">
        <div class="hello-dog">
            <img src="/static/imgs/hello-everyone.gif" alt="" width="140px">
        </div>
        <div class="button_solid007">
            <p>作りたいシフトの日付を入力してね</p>
        </div>
        <div class="selectdiv">
            <div class="cp_ipselect cp_sl01">
                <select name="month" required>
                    <option value="" hidden>月</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
            </div>
            <div class="cp_ipselect cp_sl01">
                <select name="day" required>
                    <option value="" hidden>日</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                </select>
            </div>
        </div>


        <div class="btn-design-1">
            <input type="submit" value="役割分担表を作る">
        </div>
    </form>
    <form class="attendance-form" action="/attendancelist" method="post">
        <div class="pjname-input">
            <input type="text" name="pjName" required>
        </div>
        <div class="btn-design-1">
            <input type="submit" value="今月の出勤">
        </div>
    </form>
    
    <form class = "logout-btn" action = "/logout" method="post">
        <div class="btn-design-1">
            <input type="submit" value="ログアウト">
        </div>
    </form>
    
    <div id="addToHomeScreenButton">
        <div class="btn-box">
            <button>アプリをホームに追加</button>
        </div>
        <div class="more">
            <ul>
                <li>1.Safariで開く</li>
                <li>2.<img src="/static/imgs/share-icon.png" width="16px">「共有」ボタンをタップ</li>
                <li>3.ホームに追加をタップ</li>
            </ul>
        </div>
    </div>
</div>
{{end}}