{{define "content"}}
<div class="wrapper">
    <a class="top-button button_solid015" href="/top">Top</a>
    <div class="AM">
        <table>
            <tbody>
                <tr>
                    <th name="date-form" class="jobName date-print">{{.}}</th>
                    <td class="ampm" colspan="2">AM</td>
                </tr>
                <tr>
                    <th class="jobName">Wルーム</th>
                    <td>
                        <input type="text" name="wroommain"
                            oninput="copyValue(this, 'wroommain', 'drinkmain');copyValue(this, 'wroommain', 'wtreception')"><span>作</span>
                    </td>
                    <td><input type="text" name="wroomsub"
                            oninput="copyValue(this, 'wroomsub', 'drinksub')"><span>聞</span></td>
                </tr>
                <tr>
                    <th class="jobName">クローク</th>
                    <td colspan="2"><input type="text" name="cloak"></td>
                </tr>
                <tr>
                    <th class="jobName">門番/駐車場</th>
                    <td><input type="text" name="gatekeeper"
                            oninput="copyValue(this, 'gatekeeper', 'wash1')"><span>第一</span></td>
                    <td><input type="text" name="parkkeeper"
                            oninput="copyValue(this, 'parkkeeper', 'wash2')"><span>第二</span></td>
                </tr>
                <tr>
                    <th class="jobName">リーダー</th>
                    <td colspan="2"><input type="text" name="leader" oninput="copyValue(this, 'leader', 'leader-up')">
                    </td>
                </tr>
                <tr>
                    <th class="jobName">ドリカン両親係</th>
                    <td><input type="text" name="drinkmain"><span>メイン</span></td>
                    <td><input type="text" name="drinksub"><span>サブ</span></td>
                </tr>
                <tr>
                    <th class="jobName">シャンパン＆ワイン</th>
                    <td colspan="2"><input type="text" name="champagne"></td>
                </tr>
                <tr>
                    <th class="jobName">シルバー＆ワイン</th>
                    <td colspan="2"><input type="text" name="silver" oninput="copyValue(this, 'silver', 'alreception')">
                    </td>
                </tr>
                <tr>
                    <th class=" jobName">アペ＆水</th>
                    <td colspan="2"><input type="text" name="ape" oninput="copyValue(this, 'ape', 'towel')"></td>
                </tr>

                <tr>
                    <th class="jobName">コーヒー＆デトックス</th>
                    <td colspan="2"><input type="text" name="coffee"></td>
                </tr>
                <tr>
                    <th class="jobName">トイレタバコチェック＆ガーデンヒーター</th>
                    <td><input type="text" name="toiletman"><span>男性＆タバコ</span></td>
                    <td><input type="text" name="toiletlady"><span>女性＆多目的</span></td>

                </tr>
                <tr>
                    <th class="jobName">クローク補助</th>
                    <td colspan="2"><input type="text" name="cloaksub"></td>
                </tr>
                <tr>
                    <th class="jobName">洗い場</th>
                    <td><input type="text" name="wash1"><span>洗い</span>
                    </td>
                    <td><input type="text" name="wash2"><span>拭き</span>
                    </td>
                </tr>
                <tr>
                    <th class="jobName">インカム盛り上げリーダー</th>
                    <td colspan="2"><input type="text" name="leader-up"
                            oninput="copyValue(this, 'leader', 'leader-up')"></td>
                </tr>
                <tr>
                    <th class="jobName">ウェイティング迎賓係</th>
                    <td colspan="2"><input type="text" name="wtreception"></td>
                </tr>
                <tr>
                    <th class="jobName">迎賓時アルコール係</th>
                    <td colspan="2"><input type="text" name="alreception"></td>
                </tr>
                <tr>
                    <th class="jobName">チャペル誘導係</th>
                    <td colspan="2"><input type="text" name="chreception"></td>
                </tr>
                <tr>
                    <th class="jobName">おしぼり回収（プルミエの後）</th>
                    <td colspan="2"><input type="text" name="towel"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="PM">
        <table>
            <tbody>
                <tr>
                    <th name="date-form" class="jobName date-print">{{.}}</th>
                    <td class="ampm" colspan="2">PM</td>
                </tr>
                <tr>
                    <th class="jobName">Wルーム</th>
                    <td><input type="text" name="wroommain"
                            oninput="copyValue2(this, 'wroommain', 'drinkmain');copyValue2(this, 'wroommain', 'wtreception')"><span>作</span>
                    </td>
                    <td><input type="text" name="wroomsub"
                            oninput="copyValue2(this, 'wroomsub', 'drinksub')"><span>聞</span></td>
                </tr>
                <tr>
                    <th class="jobName">クローク</th>
                    <td colspan="2"><input type="text" name="cloak"></td>
                </tr>
                <tr>
                    <th class="jobName">門番/駐車場</th>
                    <td><input type="text" name="gatekeeper"
                            oninput="copyValue2(this, 'gatekeeper', 'wash1')"><span>第一</span></td>
                    <td><input type="text" name="parkkeeper"
                            oninput="copyValue2(this, 'parkkeeper', 'wash2')"><span>第二</span></td>
                </tr>
                <tr>
                    <th class="jobName">リーダー</th>
                    <td colspan="2"><input type="text" name="leader" oninput="copyValue2(this, 'leader', 'leader-up')">
                    </td>
                </tr>
                <tr>
                    <th class="jobName">ドリカン両親係</th>
                    <td><input type="text" name="drinkmain"><span>メイン</span></td>
                    <td><input type="text" name="drinksub"><span>サブ</span></td>
                </tr>
                <tr>
                    <th class="jobName">シャンパン＆ワイン</th>
                    <td colspan="2"><input type="text" name="champagne"></td>
                </tr>
                <tr>
                    <th class="jobName">シルバー＆ワイン</th>
                    <td colspan="2"><input type="text" name="silver"
                            oninput="copyValue2(this, 'silver', 'alreception')">
                    </td>
                </tr>
                <tr>
                    <th class=" jobName">アペ＆水</th>
                    <td colspan="2"><input type="text" name="ape" oninput="copyValue2(this, 'ape', 'towel')"></td>
                </tr>

                <tr>
                    <th class="jobName">コーヒー＆デトックス</th>
                    <td colspan="2"><input type="text" name="coffee"></td>
                </tr>
                <tr>
                    <th class="jobName">トイレタバコチェック＆ガーデンヒーター</th>
                    <td><input type="text" name="toiletman"><span>男性＆タバコ</span></td>
                    <td><input type="text" name="toiletlady"><span>女性＆多目的</span></td>

                </tr>
                <tr>
                    <th class="jobName">クローク補助</th>
                    <td colspan="2"><input type="text" name="cloaksub"></td>
                </tr>
                <tr>
                    <th class="jobName">洗い場</th>
                    <td><input type="text" name="wash1"><span>洗い</span>
                    </td>
                    <td><input type="text" name="wash2"><span>拭き</span>
                    </td>
                </tr>
                <tr>
                    <th class="jobName">インカム盛り上げリーダー</th>
                    <td colspan="2"><input type="text" name="leader-up"
                            oninput="copyValue2(this, 'leader', 'leader-up')"></td>
                </tr>
                <tr>
                    <th class="jobName">ウェイティング迎賓係</th>
                    <td colspan="2"><input type="text" name="wtreception"></td>
                </tr>
                <tr>
                    <th class="jobName">迎賓時アルコール係</th>
                    <td colspan="2"><input type="text" name="alreception"></td>
                </tr>
                <tr>
                    <th class="jobName">チャペル誘導係</th>
                    <td colspan="2"><input type="text" name="chreception"></td>
                </tr>
                <tr>
                    <th class="jobName">おしぼり回収（プルミエの後）</th>
                    <td colspan="2"><input type="text" name="towel"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <a class="top-button" href="/top">Top</a>
    <button class="button_solid015" onclick="window.print()">印刷</button>
</div>
{{end}}