{{define "content"}}
<div id="tap-delete-balloon">
    <div class="wrapper">
        <div class="button_solid015">
            <!-- <a class="top-button button_solid015" href="/top">Top</a> -->
            <button onclick="history.back()">戻る</button>
        </div>
        <p class="pjs-list-title">出勤PJ一覧<br>
            {{range $i,$pj := .}}
            {{if eq $i 0}}
            ゲスト数:{{$pj.Amguest}}
            {{end}}
            {{end}}</p>
        <div class="pjs-list">
            {{range .}}
            {{if or (eq .AmPm "ダブル") (eq .AmPm "日付をもう一度確認して下さい")}}
            <div class="pjs-item Names">{{.Names}}<span class="newpj-mark">{{.New}}</span>
                <p class="AmPm"><span>{{.AmPm}}</span>{{.Time}}</p>
            </div>
            {{end}}
            {{end}}
            {{range .}}
            {{if eq .AmPm "AM"}}
            <div class="pjs-item Names">{{.Names}}<span class="newpj-mark">{{.New}}</span>
                <p class="AmPm"><span>{{.AmPm}}</span>{{.Time}}</p>
            </div>
            {{end}}
            {{end}}
        </div>
        <form action="/checkPj" method="post">
            <div class="AM">
                <table>
                    <tbody>
                        <tr>
                            <th name="date-form" class="jobName date-print">
                                {{range $i,$pj := .}}
                                {{if eq $i 0}}
                                <input type="hidden" name="date-form" value={{$pj.Date}}>
                                {{$pj.Date}}
                                {{end}}
                                {{end}}
                            </th>
                            <td class="ampm" colspan="2">AM</td>
                        </tr>
                        <tr>
                            <th class="jobName">サブPJ</th>
                            <td colspan="2"><input type="text" name="subpj">
                            </td>
                        </tr>
                        <tr>
                            <th class="jobName">リーダー</th>
                            <td colspan="2"><input type="text" name="leader">
                            </td>
                        </tr>
                        <tr>
                            <th class="jobName">リターンリーダー
                                <div class="balloonoya" onclick="showBalloon('makeImg1')">
                                    <img src="/static/imgs/questionicon.svg" width="14px">
                                    <span class="balloonnone" id="makeImg1">
                                        ここはベテランのみ！<br>
                                        もしくは中堅層PJとベテランPJで組んで指示出しの仕方をあげる
                                    </span>
                                </div>
                            </th>
                            <td colspan="2"><input type="text" name="returnleader">
                            </td>
                        </tr>
                        <tr>
                            <th class="jobName">門番/駐車場
                                <div class="balloonoya" onclick="showBalloon('makeImg2')">
                                    <img src="/static/imgs/questionicon.svg" width="14px">
                                    <span class="balloonnone" id="makeImg2">
                                        第一駐車場は基本１人<br>
                                        新人は第二駐車場をまずは覚える<br>
                                        慣れてきた子は第一駐車場２人(新人×先輩)体制で！<br>
                                        →その時の第二駐車場は先輩PJ1人でやる
                                    </span>
                                </div>
                            </th>
                            <td><input type="text" name="gatekeeper"><span>第一</span></td>
                            <td><input type="text" name="parkkeeper1">
                                <input type="text" name="parkkeeper2"><span>第二</span>
                            </td>
                        </tr>
                        <tr>
                            <th class="jobName">クローク
                                <div class="balloonoya" onclick="showBalloon('makeImg3')">
                                    <img src="/static/imgs/questionicon.svg" width="14px">
                                    <span class="balloonnone" id="makeImg3">
                                        新人はまずクロークから！<br>
                                        大人数の時や新人x中堅PJの時はクロークサブをつける
                                    </span>
                                </div>
                            </th>
                            <td colspan="2"><input type="text" name="cloak"></td>
                        </tr>
                        <tr>
                            <th class="jobName">クロークサブ</th>
                            <td colspan="2"><input type="text" name="cloaksub"></td>

                        </tr>
                        <tr>
                            <th class="jobName">コーヒー＆デトックス
                                <div class="balloonoya" onclick="showBalloon('makeImg4')">
                                    <img src="/static/imgs/questionicon.svg" width="14px">
                                    <span class="balloonnone" id="makeImg4">
                                        アぺや水係がやる事多いと思う
                                    </span>
                                </div>
                            </th>
                            <td colspan="2"><input type="text" name="coffee"></td>
                        </tr>
                        <tr>
                            <th class="jobName">ドリカン両親係
                                <div class="balloonoya" onclick="showBalloon('makeImg5')">
                                    <img src="/static/imgs/questionicon.svg" width="14px">
                                    <span class="balloonnone" id="makeImg5">
                                        初めてドリカンをする子はドリンク聞きから！<br>
                                        慣れてきたら新人が作成（先輩は聞き且つ見守る役）<br>
                                        大人数（６０名～）はドリカンサブが絶対必要<br>
                                        少人数の時は入って日が浅い子を優先的にドリカンへ
                                        →おちついて慣れてもらうため
                                    </span>
                                </div>
                            </th>
                            <td><input type="text" name="drinkmain"><span>作&郎側</span></td>
                            <td><input type="text" name="drinksub"><span>聞&婦側</span></td>
                        </tr>
                        <tr>
                            <th class="jobName">ドリカンサブ</th>
                            <td colspan="2"><input type="text" name="drinksubsub"></td>
                        </tr>
                        <tr>
                            <th class="jobName">シャンパン＆ワイン
                                <div class="balloonoya" onclick="showBalloon('makeImg6')">
                                    <img src="/static/imgs/questionicon.svg" width="14px">
                                    <span class="balloonnone" id="makeImg6">
                                        どうしても人が足りない時はクローク係がここもする<br>
                                        乾杯準備に間に合わせれるよう絶対先輩×新人で！<br>
                                        不安そうな子がシャンパンデビューする時は絶対見守ってあげる
                                    </span>
                                </div>
                            </th>
                            <td><input type="text" name="champagne1"></td>
                            <td><input type="text" name="champagne2"></td>
                        </tr>
                        <tr>
                            <th class="jobName">シルバー＆ワイン
                                <div class="balloonoya" onclick="showBalloon('makeImg7')">
                                    <img src="/static/imgs/questionicon.svg" width="14px">
                                    <span class="balloonnone" id="makeImg7">
                                        慣れてきた新人PJはワイン係を教えてあげる
                                    </span>
                                </div>
                            </th>
                            <td><input type="text" name="silver1">
                            </td>
                            <td><input type="text" name="silver2">
                            </td>
                        </tr>
                        <tr>
                            <th class=" jobName">アペ＆水</th>
                            <td><input type="text" name="ape1">
                            </td>
                            <td><input type="text" name="ape2">
                            </td>
                        </tr>


                        <tr>
                            <th class="jobName">トイレタバコチェック＆ガーデンヒーター</th>
                            <td><input type="text" name="toiletman"><span>男性＆タバコ</span></td>
                            <td><input type="text" name="toiletlady"><span>女性＆多目的</span></td>

                        </tr>
                        <tr>
                            <th class="jobName">洗い場</th>
                            <td><input type="text" name="wash1"><span>洗い</span>
                            </td>
                            <td><input type="text" name="wash2"><span>拭き</span>
                            </td>
                        </tr>

                        <!-- <tr>
                            <th class="jobName small-jobname">ウェイティング迎賓係</th>
                            <td class="small-td" colspan="2"><input type="text" name="wtreception"></td>
                        </tr>
                        <tr>
                            <th class="jobName small-jobname">迎賓時アルコール係</th>
                            <td class="small-td"><input type="text" name="alreception1"></td>
                            <td class="small-td"><input type="text" name="alreception2"></td>

                        </tr>
                        <tr>
                            <th class="jobName small-jobname">チャペル誘導係</th>
                            <td class="small-td"><input type="text" name="chreception1"></td>
                            <td class="small-td"><input type="text" name="chreception2"></td>
                        </tr> -->
                        <!-- <tr>
                            <th class="jobName small-jobname">おしぼり回収・プルミエ後</th>
                            <td class="small-td"><input type="text" name="towel1"></td>
                            <td class="small-td"><input type="text" name="towel2"></td>
                        </tr> -->
                    </tbody>
                </table>
                <br>
            </div>
            <p class="pjs-list-title">出勤PJ一覧<br>
                {{range $i,$pj := .}}
                {{if eq $i 0}}
                ゲスト数:{{$pj.Pmguest}}
                {{end}}
                {{end}}</p>
            <div class="pjs-list">
                {{range .}}
                {{if eq .AmPm "ダブル"}}
                <div class="pjs-item Names">{{.Names}}<span class="newpj-mark">{{.New}}</span>
                    <p class="AmPm"><span>{{.AmPm}}</span>{{.Time}}</p>
                </div>
                {{end}}
                {{end}}
                {{range .}}
                {{if eq .AmPm "PM"}}
                <div class="pjs-item Names">{{.Names}}<span class="newpj-mark">{{.New}}</span>
                    <p class="AmPm"><span>{{.AmPm}}</span>{{.Time}}</p>
                </div>
                {{end}}
                {{end}}
            </div>
            <div class="point-dog">
                <div>
                    <img src="/static/imgs/point-dog.gif" alt="" width="70px">
                </div>
                <div class="box2">
                    <p class="checked-mes">
                        黄色の役割は試食会では不要
                    </p>
                </div>
            </div>
            <div class="PM">
                <table>
                    <tbody>
                        <tr>
                            <th name="date-form" class="jobName date-print">
                                {{range $i,$pj := .}}
                                {{if eq $i 0}}
                                <input type="hidden" value={{$pj.Date}}>
                                {{$pj.Date}}
                                {{end}}
                                {{end}}
                            </th>
                            <td class="ampm" colspan="2">PM or 試食会</td>
                        </tr>
                        <tr>
                            <th class="jobName tasting-event">サブPJ</th>
                            <td colspan="2"><input type="text" name="subpjP">
                            </td>
                        </tr>
                        <tr>
                            <th class="jobName">リーダー</th>
                            <td colspan="2"><input type="text" name="leaderP">
                            </td>
                        </tr>
                        <tr>
                            <th class="jobName">リターンリーダー
                                <div class="balloonoya" onclick="showBalloon('makeImg8')">
                                    <img src="/static/imgs/questionicon.svg" width="14px">
                                    <span class="balloonnone" id="makeImg8">
                                        ここはベテランのみ！<br>
                                        もしくは中堅層PJとベテランPJで組んで指示出しの仕方をあげる
                                    </span>
                                </div>
                            </th>
                            <td colspan="2"><input type="text" name="returnleaderP">
                            </td>
                        </tr>
                        <tr>
                            <th class="jobName">門番/駐車場
                                <div class="balloonoya" onclick="showBalloon('makeImg9')">
                                    <img src="/static/imgs/questionicon.svg" width="14px">
                                    <span class="balloonnone" id="makeImg9">
                                        第一駐車場は基本１人<br>
                                        新人は第二駐車場をまずは覚える<br>
                                        慣れてきた子は第一駐車場２人(新人×先輩)体制で！<br>
                                        →その時の第二駐車場は先輩PJ1人でやる
                                    </span>
                                </div>
                            </th>
                            <td><input type="text" name="gatekeeperP"><span>第一</span></td>
                            <td><input type="text" name="parkkeeper1P">
                                <input type="text" name="parkkeeper2P"><span>第二</span>
                            </td>
                        </tr>
                        <tr>
                            <th class="jobName">クローク
                                <div class="balloonoya" onclick="showBalloon('makeImg10')">
                                    <img src="/static/imgs/questionicon.svg" width="14px">
                                    <span class="balloonnone" id="makeImg10">
                                        新人はまずクロークから！<br>
                                        大人数の時や新人x中堅PJの時はクロークサブをつける
                                    </span>
                                </div>
                            </th>
                            <td colspan="2"><input type="text" name="cloakP"></td>
                        </tr>
                        <tr>
                            <th class="jobName tasting-event">クロークサブ</th>
                            <td colspan="2"><input type="text" name="cloaksubP"></td>
                        </tr>
                        <tr>
                            <th class="jobName">コーヒー＆デトックス
                                <div class="balloonoya" onclick="showBalloon('makeImg11')">
                                    <img src="/static/imgs/questionicon.svg" width="14px">
                                    <span class="balloonnone" id="makeImg11">
                                        アぺや水係がやる事多いと思う
                                    </span>
                                </div>
                            </th>
                            <td colspan="2"><input type="text" name="coffeeP"></td>
                        </tr>
                        <tr>
                            <th class="jobName">ドリカン両親係
                                <div class="balloonoya" onclick="showBalloon('makeImg12')">
                                    <img src="/static/imgs/questionicon.svg" width="14px">
                                    <span class="balloonnone" id="makeImg12">
                                        初めてドリカンをする子はドリンク聞きから！<br>
                                        慣れてきたら新人が作成（先輩は聞き且つ見守る役）<br>
                                        大人数（６０名～）はドリカンサブが絶対必要<br>
                                        少人数の時は入って日が浅い子を優先的にドリカンへ
                                        →おちついて慣れてもらうため
                                    </span>
                                </div>
                            </th>
                            <td><input type="text" name="drinkmainP"><span>作&郎側</span></td>
                            <td><input type="text" name="drinksubP"><span>聞&婦側</span></td>
                        </tr>
                        <tr>
                            <th class="jobName tasting-event">ドリカンサブ</th>
                            <td colspan="2"><input type="text" name="drinksubsubP"></td>
                        </tr>
                        <tr>
                            <th class="jobName tasting-event">シャンパン＆ワイン
                                <div class="balloonoya" onclick="showBalloon('makeImg13')">
                                    <img src="/static/imgs/questionicon.svg" width="14px">
                                    <span class="balloonnone" id="makeImg13">
                                        どうしても人が足りない時はクローク係がここもする<br>
                                        乾杯準備に間に合わせれるよう絶対先輩×新人で！<br>
                                        不安そうな子がシャンパンデビューする時は絶対見守ってあげる
                                    </span>
                                </div>
                            </th>
                            <td><input type="text" name="champagne1P"></td>
                            <td><input type="text" name="champagne2P"></td>
                        </tr>
                        <tr>
                            <th class="jobName">シルバー＆ワイン
                                <div class="balloonoya" onclick="showBalloon('makeImg14')">
                                    <img src="/static/imgs/questionicon.svg" width="14px">
                                    <span class="balloonnone" id="makeImg14">
                                        慣れてきた新人PJはワイン係を教えてあげる
                                    </span>
                                </div>
                            </th>
                            <td><input type="text" name="silver1P">
                            </td>
                            <td><input type="text" name="silver2P">
                            </td>
                        </tr>
                        <tr>
                            <th class=" jobName">アペ＆水</th>
                            <td><input type="text" name="ape1P">
                            </td>
                            <td><input type="text" name="ape2P">
                            </td>
                        </tr>


                        <tr>
                            <th class="jobName">トイレタバコチェック＆ガーデンヒーター</th>
                            <td><input type="text" name="toiletmanP"><span>男性＆タバコ</span></td>
                            <td><input type="text" name="toiletladyP"><span>女性＆多目的</span></td>

                        </tr>
                        <tr>
                            <th class="jobName tasting-event">洗い場</th>
                            <td><input type="text" name="wash1P"><span>洗い</span>
                            </td>
                            <td><input type="text" name="wash2P"><span>拭き</span>
                            </td>
                        </tr>

                        <!-- <tr>
                            <th class="jobName small-jobname">ウェイティング迎賓係</th>
                            <td class="small-td" colspan="2"><input type="text" name="wtreceptionP"></td>
                        </tr> -->
                        <!-- <tr>
                            <th class="jobName small-jobname">迎賓時アルコール係</th>
                            <td class="small-td"><input type="text" name="alreception1P"></td>
                            <td class="small-td"><input type="text" name="alreception2P"></td>

                        </tr> -->
                        <!-- <tr>
                            <th class="jobName small-jobname tasting-event">チャペル誘導係</th>
                            <td class="small-td"><input type="text" name="chreception1P"></td>
                            <td class="small-td"><input type="text" name="chreception2P"></td>
                        </tr> -->
                        <!-- <tr>
                            <th class="jobName small-jobname">おしぼり回収・プルミエ後</th>
                            <td class="small-td"><input type="text" name="towel1P"></td>
                            <td class="small-td"><input type="text" name="towel2P"></td>
                        </tr> -->
                    </tbody>
                </table>
            </div>
            <div class="trainer-trainee-typing">
                <table>
                    <thead>
                        <tr>
                            <th>トレーナー</th>
                            <th>トレーニー</th>
                        </tr>
                    </thead>
                    <tbody id="table-body">
                        <tr>
                            <td><input name="trainer"></td>
                            <td><input name="trainee"></td>
                        </tr>
                    </tbody>
                </table>
                <footer class="treiner-typing">
                    <div class="button_solid015 trainer-typing">
                        <button type="button" id="add-btn">追加</button>
                        <button type="button" id="delete-btn">削除</button>
                    </div>
                </footer>
            </div>
            <div class="btn-design-1">
                <input type="submit" value="確認">
            </div>
        </form>

    </div>
    <script>
        var rowNum = 1;
        $(function () {
            var rowNum = getCookie("rowNum") || 1;
            for (var i = 1; i < rowNum; i++) {
                addRow(i);
            }

            $("#add-btn").on("click", function () {
                addRow(rowNum);
                rowNum++;
                setCookie("rowNum", rowNum);
            });

            $("#delete-btn").on("click", function () {
                $("#table-body tr:last").remove();
                rowNum--;
                setCookie("rowNum", rowNum);
            });
        });

        function addRow(rowNum) {
            var newRow = $("<tr>");
            newRow.append("<td><input name='trainer" + rowNum + "'></td>");
            newRow.append("<td><input name='trainee" + rowNum + "'></td>");
            $("#table-body").append(newRow);
        }

        function setCookie(name, value) {
            document.cookie = name + "=" + value + "; path=/";
        }

        function getCookie(name) {
            var value = "; " + document.cookie;
            var parts = value.split("; " + name + "=");
            if (parts.length == 2) {
                return parts.pop().split(";").shift();
            }
            return null;
        }

    </script>
</div>
{{end}}