@page {
    margin: 10mm;
    size: 297mm 210mm;
}

@media print {
    .wrapper {
        .top-button {
            display: none;
        }
        display: flex;
        margin: 30px 60px 70px 30px;
        width: 1190px;
        font-size: 11px;
        tbody {
            font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
            tr {
                .jobName {
                    width: 32%;
                    font-size: 12px;
                    position: relative;
                    padding: 0.3em 0 0.2em 1em;
                    border-bottom: 2px solid #000000;
                    border-top: 2px solid #000000;
                    color: #000000;
                    background-color: rgb(255, 255, 255);
                    border-radius: 5px;
                    &:before {
                        position: absolute;
                        top: 0;
                        left: 0.3em;
                        transform: rotate(55deg);
                        height: 0px;
                        width: 0px;
                        background: #000000;
                        content: "●";
                    }
                    &:after {
                        position: absolute;
                        transform: rotate(15deg);
                        top: 0.6em;
                        left: 0;
                        height: 0px;
                        width: 0px;
                        background: #000000;
                        content: "〇";
                    }
                }
                td {
                    border: 1px #000000 solid;
                    background-color: rgb(255, 255, 255);
                    border-radius: 5px;
                    text-align: left;
                    &.ampm {
                        text-align: center;
                    }
                    input {
                        width: 50%;
                        border: none;
                        outline: none;
                        margin: 0 3px;
                        font-size: 23px;
                        appearance: none;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        padding: 2px 0 2px 2px;
                    }
                    span {
                        font-size: 14px;
                        font-weight: 500;
                        margin: 0;
                        padding: 0;
                        padding-left: 6px;
                        border-left: 1px solid #000000;
                    }
                    &.ampm {
                        border: 2px solid #000000;
                        border-radius: 5px;
                    }
                }
                .date-print {
                    border: 2px solid #000000;
                    border-radius: 5px;
                }
            }
        }
        .AM {
            width: 43%;
            border-bottom: none;
            margin-right: 10px;
        }
        .PM {
            width: 43%;
            margin-left: 10px;
        }
    }
}
