@page {
    margin: 0;
}

@media print {
    #page1 {
        // * {
        //     outline: 1px red solid;
        // }
        page-break-after: always;
        display: flex;
        justify-content: center;
        width: 1200px;
        line-height: 1.8;
        .page {
            display: flex;
            width: auto !important;
            button {
                display: none;
            }
            .pjs-list-title {
                display: none;
            }
            .pjs-list {
                display: block;
                margin-right: 5px;
                .pjs-item {
                    font-size: 10px;
                    border-bottom: none;
                    background: none; /*背景色*/
                    white-space: nowrap;
                    &:before {
                        content: "☆";
                    }
                    .AmPm {
                        display: none;
                    }
                    &.Check {
                        background-color: rgb(255, 255, 255);
                    }
                    span {
                        display: none;
                    }
                }
            }
            .point-dog {
                display: none !important;
            }
            .AMPM-container {
                width: 500px;
                border-bottom: none;
                // margin-right: 0 auto;
                margin-bottom: 0 !important;
                padding-bottom: 0 !important;

                tbody {
                    tr {
                        .jobName {
                            height: 27px;
                            font-size: 13px;
                            line-height: 1em;
                            border-bottom: 1px solid #000000;
                            background-color: rgb(255, 255, 255);
                            border-radius: 0px;
                            white-space: nowrap;
                            &:before {
                                position: absolute;
                                top: 0;
                                left: 0.3em;
                                transform: rotate(55deg);
                                height: 0px;
                                width: 0px;
                                background: #000000;
                                content: "●";
                            }
                            &:after {
                                position: absolute;
                                transform: rotate(15deg);
                                top: 0.6em;
                                left: 0;
                                height: 0px;
                                width: 0px;
                                background: #000000;
                                content: "〇";
                            }
                        }
                        td {
                            border-bottom: 1px #000000 solid;
                            border-left: 1px #000000 dotted;
                            border-right: 1px #000000 solid;
                            background-color: rgb(255, 255, 255);
                            border-radius: 0px;
                            text-align: center;
                            .dotted {
                                display: inline;
                                color: #000000;
                            }
                            div {
                                color: #000000;
                                line-height: 1em;
                                padding: 0; /* パディングを0に設定 */
                                margin: 0; /* マージンを0に設定 */
                                border: none;
                                box-shadow: none;
                                font-weight: 300;
                            }
                            span {
                                line-height: 1em;
                                display: inline-block; /* インラインブロック要素にする */
                                vertical-align: center; /* ベースラインに合わせる */
                                font-size: 12px;
                                font-weight: 700;
                                padding: 1px 3px; /* パディングを0に設定 */
                                margin: 0; /* マージンを0に設定 */
                                border: 1px dotted #000000;
                            }
                            &.ampm {
                                border-top: 1px dotted black;
                            }
                        }

                        .date-print {
                            border-left: 1px solid #000000;
                            border-top: 1px dotted black;
                            font-size: 18px;
                        }
                    }
                }
            }
            .trainer-trainee-container {
                thead {
                    th {
                        font-size: 12px !important;
                        white-space: nowrap;
                        border-bottom: 3px double black !important;
                    }
                }
                tbody {
                    td {
                        white-space: nowrap;
                        border: none !important;
                        font-size: 13px !important;
                        color: #000000;
                        &.trainer-name-check {
                            margin-right: 2px;
                            border-right: 1px dotted black !important;
                        }
                        &.trainee-name-check {
                            margin-left: 2px;
                            border-left: 1px dotted black !important;
                        }
                    }
                }
            }
        }
        
    }
    #page2{
        display: block;
    }
}
