@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
}
body #loading {
  /* 画面一杯にローディング画面を広げる */
  height: 100%;
  width: 100%;
  background: #fff;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  /* flexboxを使ってローディングアイコンを画面の中央に寄せる */
  display: flex;
  justify-content: center;
  align-items: center;
}
body #signup-form-content {
  padding-top: 40px;
  padding-bottom: 40px;
}
body .form-signin {
  max-width: 330px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 64px auto;
  width: 70%;
  border-bottom: 2px #2589d0 dotted;
  background-color: rgba(156, 191, 236, 0.596);
  border-radius: 5px;
  text-align: center !important;
}
body .form-signin .button_solid007 {
  text-align: center;
}
body .form-signin .button_solid007 p {
  margin-bottom: 5px;
  font-weight: 600;
  color: #2589d0;
  letter-spacing: 0.04rem;
  display: inline-block;
  position: relative;
}
body .form-signin .button_solid007 p:before, body .form-signin .button_solid007 p:after {
  display: inline-block;
  position: absolute;
  top: 45%;
  width: 20px;
  height: 3px;
  border-radius: 5px;
  background-color: #2589d0;
  content: "";
}
body .form-signin .button_solid007 p:before {
  left: -30px;
  transform: rotate(50deg);
}
body .form-signin .button_solid007 p:after {
  right: -30px;
  transform: rotate(-50deg);
}
body .form-signin .button_solid007 label {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 240px;
  padding: 10px 25px;
  color: #fff;
  transition: 0.3s ease-in-out;
  font-weight: 600;
  background: #2589d0;
  filter: drop-shadow(0px 2px 4px #ccc);
  border-radius: 3px;
}
body .form-signin .button_solid007 label:hover {
  transform: translateY(-2px);
  box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.1);
}
body .form-signin .btn {
  margin: 0 auto;
  width: 50%;
}
body .form-signin .checkbox {
  font-weight: normal;
}
body .form-signin .form-signin-heading, body .form-signin .checkbox {
  margin-bottom: 10px;
}
body .form-signin .form-control {
  position: relative;
  height: auto;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
body .form-signin:focus {
  z-index: 2;
  background-color: #ccffcc;
}
body .form-signin input[type=password] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* ローディングアイコン */
.fa-redo-alt {
  font-size: 200px;
  color: deepskyblue;
}

.attendancelist-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.attendancelist-page .attendancelist-title {
  display: flex;
}
.attendancelist-page h2 {
  position: relative;
  padding: 8px 15px;
  background: #def3ff;
  border-radius: 20px;
}
.attendancelist-page h2:before {
  font-family: "Font Awesome 5 Free";
  content: "\f111";
  font-weight: 900;
  position: absolute;
  font-size: 15px;
  left: -40px;
  bottom: 0;
  color: #def3ff;
}
.attendancelist-page h2:after {
  font-family: "Font Awesome 5 Free";
  content: "\f111";
  font-weight: 900;
  position: absolute;
  font-size: 23px;
  left: -23px;
  bottom: 0;
  color: #def3ff;
}
.attendancelist-page th {
  border-bottom: double 5px #516ab6;
}
.attendancelist-page td {
  width: 35%;
  border-bottom: 2px #2589d0 dotted;
  background-color: rgba(156, 191, 236, 0.596);
  border-radius: 5px;
  text-align: center !important;
}
.attendancelist-page input {
  border: 1px double #a0a0a0;
  box-shadow: 0 0 0 1px #ccc inset;
  border-radius: 4px;
}

.page {
  width: 94%;
  margin: 32px auto 32px auto;
  line-height: 2;
  text-align: center;
  /* solid007 */
  /* solid015 */
}
.page .attendance-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 45px;
}
.page .attendance-form .pjname-input {
  border-bottom: 2px #2589d0 dotted;
  background-color: rgba(156, 191, 236, 0.596);
  border-radius: 5px;
  text-align: center;
  padding: 0 10px;
  margin-right: 5px;
}
.page .attendance-form .pjname-input input {
  width: 60px;
}
.page .point-dog {
  display: flex;
  justify-content: center;
  align-items: center;
}
.page .btn-box button {
  width: 200px;
  height: 40px;
  padding: 8px;
  font-size: 16px;
  color: #fff;
  background-color: #2589d0;
  border: none;
  border-radius: 24px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.page .btn-box button:hover {
  transform: translateY(-2px);
  box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.1);
}
.page .more {
  display: none;
}
.page .more ul {
  margin: 16px;
  padding: 0;
  list-style: none;
  display: inline-block;
}
.page .more ul li {
  color: #010101; /*文字色*/
  background: #eaf3ff; /*背景色*/
  border-bottom: solid 3px #516ab6; /*下線*/
  border-radius: 4px;
}
.page .more.appear {
  display: block;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.page .print-button {
  text-decoration: none;
  color: #000655;
  position: relative;
  display: inline-block;
  justify-content: space-around;
  align-items: center;
  margin: 9px auto 18px auto;
  padding: 5px 15px;
  color: #fff;
  transition: 0.3s ease-in-out;
  font-weight: 300;
  font-size: 12px;
  background: #2589d0;
  filter: drop-shadow(0px 2px 4px #ccc);
  border-radius: 50px;
  border: none;
}
.page .print-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.1);
}
.page .AM {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 2px double #53a5e0;
}
.page tbody th .balloonoya {
  position: relative; /* 指定した分だけ相対的に移動 */
  cursor: pointer; /* カーソルをポインターで表示 */
  display: inline-block;
}
.page tbody th .balloonoya span {
  color: #000000;
}
.page tbody th .balloonoya img {
  vertical-align: middle;
  padding: 2px;
}
.page tbody th .balloonnone {
  display: none;
}
.page tbody th .balloon {
  position: absolute; /* 親要素を基準 */
  display: inline; /* 要素をインラインとして表示 */
  padding: 2px; /* テキストの前後の余白 */
  background-color: rgb(255, 255, 26); /* 背景色（透明度） */
  border: 1px solid #ff5e13;
  width: 240px; /* 吹き出し全体の幅 */
  left: 100%; /* 表示位置 */
  font-size: 80%; /* 文字サイズ */
  border-radius: 3px;
  line-height: 1.8em;
  z-index: 1000;
}
.page tbody th .balloon:after {
  border-right: 12px solid #ff5e13; /* 吹き出し口の幅・色 */
  border-top: 10px solid transparent; /* 吹き出し口の高さ１／２ */
  border-bottom: 10px solid transparent; /* 吹き出し口の高さ１／２ */
  left: -12px; /* 吹き出し口の位置調整 */
  top: 0%; /* 吹き出し口の縦位置 */
  content: ""; /* コンテンツの挿入 */
  position: absolute; /* 親要素を基準 */
}
.page tbody tr .date-print:before, .page tbody tr .date-print:after {
  display: none;
}
.page tbody tr .jobName {
  width: 30%;
  font-size: 11px;
  position: relative;
  padding: 0.3em 0 0.2em 1em;
  border-bottom: 2px solid #2589d0;
  color: #000000;
  background-color: rgba(156, 191, 236, 0.596);
  border-radius: 5px;
}
.page tbody tr .jobName:before {
  position: absolute;
  top: 0;
  left: 0.3em;
  transform: rotate(55deg);
  height: 4px;
  width: 6px;
  background: #2589d0;
  content: "";
}
.page tbody tr .jobName:after {
  position: absolute;
  transform: rotate(15deg);
  top: 0.6em;
  left: 0;
  height: 8px;
  width: 8px;
  background: #2589d0;
  content: "";
}
.page tbody tr .tasting-event {
  background-color: rgba(236, 228, 156, 0.596) !important;
}
.page tbody tr td {
  width: 35%;
  border-bottom: 2px #2589d0 dotted;
  background-color: rgba(156, 191, 236, 0.596);
  border-radius: 5px;
  text-align: left;
}
.page tbody tr td .dotted {
  display: none;
}
.page tbody tr td.ampm {
  text-align: center;
}
.page tbody tr td input {
  width: 80%;
  border: none;
  border: 1px double #a0a0a0;
  box-shadow: 0 0 0 1px #ccc inset;
  border-radius: 4px;
  margin: 0 5px;
  font-size: 14px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 2px 0 2px 2px;
}
.page tbody tr td input:hover {
  border: 1px double #6dfff3;
}
.page tbody tr td input:focus {
  outline: 0;
  box-shadow: 0 0 0 2px rgb(33, 150, 243) inset;
}
.page tbody tr td div {
  color: rgb(221, 120, 120);
  font-weight: 550;
}
.page tbody tr td span {
  font-size: 11px;
  font-weight: 500;
  padding-left: 6px;
  color: black;
  border-left: 1px dotted #000d86;
}
.page .heading-018 {
  border: 2px solid #2589d0;
  box-shadow: 5px 5px #2589d0;
  color: #2589d0;
  display: inline-block;
}
.page .maintitle {
  font-family: "Chakra Petch", sans-serif;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-family: "Noto Serif JP", serif;
  font-family: "Pacifico", cursive;
  font-size: 32px;
  display: flex;
  justify-content: center;
}
.page .file-name-title {
  position: relative;
  background: #2589d0;
  box-shadow: 0px 0px 0px 5px #2589d0;
  border: dashed 2px white;
  padding: 0.2em 0.5em;
  color: #ffffff;
  display: inline-block;
}
.page .file-name-title:after {
  position: absolute;
  content: "";
  left: -7px;
  top: -7px;
  border-width: 0 0 15px 15px;
  border-style: solid;
  border-color: #fff #fff #6e94ad;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}
.page .button_solid007 {
  text-align: center;
}
.page .button_solid007 p {
  margin-bottom: 5px;
  font-weight: 600;
  color: #2589d0;
  letter-spacing: 0.04rem;
  display: inline-block;
  position: relative;
}
.page .button_solid007 p:before, .page .button_solid007 p:after {
  display: inline-block;
  position: absolute;
  top: 45%;
  width: 20px;
  height: 3px;
  border-radius: 5px;
  background-color: #2589d0;
  content: "";
}
.page .button_solid007 p:before {
  left: -30px;
  transform: rotate(50deg);
}
.page .button_solid007 p:after {
  right: -30px;
  transform: rotate(-50deg);
}
.page .button_solid007 label {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 240px;
  padding: 10px 25px;
  color: #fff;
  transition: 0.3s ease-in-out;
  font-weight: 600;
  background: #2589d0;
  filter: drop-shadow(0px 2px 4px #ccc);
  border-radius: 3px;
}
.page .button_solid007 label:hover {
  transform: translateY(-2px);
  box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.1);
}
.page .xlsxUp {
  text-align: center;
}
.page .box2 {
  padding: 0.5em 1em;
  margin: 2em 0;
  display: inline-block;
  font-weight: bold;
  color: #6091d3; /*文字色*/
  background: #fff;
  border-top: solid 2px #6091d3; /*線*/
  border-bottom: solid 2px #6091d3; /*線*/
  border-radius: 10px; /*角の丸み*/
  font-size: 12px;
}
.page .box2 p {
  margin: 0;
  padding: 0;
}
.page .box2 p.checked-mes {
  color: rgb(160, 0, 0);
}
.page .button_solid015 {
  text-align: center;
  margin: 30px auto;
}
.page .button_solid015 button {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 240px;
  padding: 10px 25px;
  color: #fff;
  transition: 0.3s ease-in-out;
  font-weight: 600;
  background: #2589d0;
  filter: drop-shadow(0px 2px 4px #ccc);
  border-radius: 50px;
  border: none;
}
.page .button_solid015 button:hover {
  transform: translateY(-2px);
  box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.1);
}
.page .file-input-button {
  display: none;
}
.page footer .button_solid015 {
  display: flex;
  justify-content: center;
}
.page footer .button_solid015 button {
  margin: 0 5px;
}
.page footer .trainer-typing {
  margin: 5px auto;
}
.page footer .trainer-typing button {
  font-size: 12px;
  padding: 6px 10px;
}
.page .sub-space p {
  display: none;
}
.page .pjs-list-title {
  position: relative;
  background: #dfefff;
  box-shadow: 0px 0px 0px 5px #dfefff;
  border: dashed 2px white;
  width: 30%;
  margin: auto;
}
.page .pjs-list-title:after {
  position: absolute;
  content: "";
  left: -7px;
  top: -7px;
  border-width: 0 0 15px 15px;
  border-style: solid;
  border-color: #fff #fff #a8d4ff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}
.page .pjs-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 3px;
  margin: 10px auto;
}
.page .pjs-list .pjs-item {
  font-size: 16px;
  color: #010101; /*文字色*/
  background-color: rgba(156, 191, 236, 0.5);
  border-bottom: solid 3px #516ab6; /*下線*/
  border-radius: 3px;
}
.page .pjs-list .pjs-item .AmPm {
  font-size: 12px;
  border-top: 2px dotted #7995e7;
  color: #310000;
  background: #eaf3ff; /*背景色*/
  padding: 0 0;
  margin: 0 0;
  border-radius: 3px;
}
.page .pjs-list .pjs-item span {
  background-color: rgba(156, 191, 236, 0.5);
  margin: 0 1px 0 0;
  padding: 0 1px;
  border-radius: 1px;
}
.page .pjs-list .pjs-item span.newpj-mark {
  background: none !important;
  color: #ff3939;
}
.page .pjs-list .CheckAM {
  background-color: rgba(255, 217, 217, 0.822);
}
.page .pjs-list .CheckAM .AmPm {
  font-size: 12px;
  border-top: 2px dotted #7995e7;
  color: #310000;
  background-color: rgba(255, 217, 217, 0.822);
  padding: 0 0;
  margin: 0 0;
  border-radius: 3px;
}
.page .pjs-list .CheckPM {
  background-color: rgb(255, 217, 217);
}
.page .pjs-list .CheckPM .AmPm {
  font-size: 12px;
  border-top: 2px dotted #7995e7;
  color: #310000;
  background-color: rgba(255, 217, 217, 0.822);
  padding: 0 0;
  margin: 0 0;
  border-radius: 3px;
}
.page .btn-design-1 {
  border: none;
  outline: none;
  position: relative;
  display: inline-block;
  margin: 18px 0 18px 0;
  padding: 5px 15px;
  transition: 0.3s ease-in-out;
  font-weight: 300;
  font-size: 12px;
  background: #2589d0;
  filter: drop-shadow(0px 2px 4px #ccc);
  border-radius: 50px;
}
.page .btn-design-1 input {
  color: #fff;
  border: none;
  outline: none;
  background: #2589d0;
}
.page .btn-design-1:hover {
  transform: translateY(-2px);
  box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.1);
}
.page .trainer-trainee-container td {
  font-weight: 600;
  color: rgb(221, 120, 120);
}

#page2 {
  display: none;
}/*# sourceMappingURL=stylesheet.css.map */