body {
    margin: 0;
    padding: 0;
    #loading {
        /* 画面一杯にローディング画面を広げる */
        height: 100%;
        width: 100%;
        background: #fff;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 100;
        /* flexboxを使ってローディングアイコンを画面の中央に寄せる */
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    #page {
        // * {
        //     outline: 1px red solid;
        // }
        .btn-design-1 {
            border: none;
            outline: none;
            margin: 18px auto 18px auto;
            padding: 5px 15px;
            transition: 0.3s ease-in-out;
            font-weight: 300;
            font-size: 12px;
            background: #d8ad57;
            width: fit-content;
            input {
                color: #fff;
                border: none;
                outline: none;
                background: #d8ad57;
            }
            filter: drop-shadow(0px 2px 4px #ccc);
            border-radius: 50px;
            &:hover {
                transform: translateY(-2px);
                box-shadow: 0 15px 30px -5px rgb(0 0 0 / 15%), 0 0 5px rgb(0 0 0 / 10%);
            }
        }
        #page-top {
            display: flex;
            flex-direction: column;
            margin: 0 0 64px 0;
            .width-design {
                width: fit-content;
                margin: 0 auto;
            }
            .maintitle {
                font-family: "Chakra Petch", sans-serif;
                font-family: "M PLUS Rounded 1c", sans-serif;
                font-family: "Noto Serif JP", serif;
                font-family: "Pacifico", cursive;
                font-size: 32px;
                display: flex;
                justify-content: center;
                &.heading-018 {
                    border: 2px solid #d8ad57;
                    box-shadow: 5px 5px #d8ad57;
                    color: #d8ad57;
                    display: inline-block;
                    width: 60%;
                    margin: 60px auto 30px auto;
                    text-align: center;
                }
            }
            #top-makeshift-form-container {
                display: flex;
                flex-direction: column;
                .cute-img {
                    margin: auto;
                }
            }

            #top-viewshift-form-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                .top-viewshift-form {
                    display: flex;
                }
            }
            .form-signin {
                max-width: 330px;
                padding: 15px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin: 64px auto;
                width: 70%;
                border-bottom: 2px #d8ad57 dotted;
                background-color: #c2a366;
                border-radius: 5px;
                text-align: center !important;
                .button_solid007 {
                    text-align: center;
                    p {
                        margin-bottom: 5px;
                        font-weight: 600;
                        color: #d8ad57;
                        letter-spacing: 0.04rem;
                        display: inline-block;
                        position: relative;
                        &:before,
                        &:after {
                            display: inline-block;
                            position: absolute;
                            top: 45%;
                            width: 20px;
                            height: 3px;
                            border-radius: 5px;
                            background-color: #d8ad57;
                            content: "";
                        }
                        &:before {
                            left: -30px;
                            -webkit-transform: rotate(50deg);
                            transform: rotate(50deg);
                        }
                        &:after {
                            right: -30px;
                            -webkit-transform: rotate(-50deg);
                            transform: rotate(-50deg);
                        }
                    }

                    label {
                        position: relative;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        margin: 0 auto;
                        max-width: 240px;
                        padding: 10px 25px;
                        color: #fff;
                        transition: 0.3s ease-in-out;
                        font-weight: 600;
                        background: #d8ad57;
                        filter: drop-shadow(0px 2px 4px #ccc);
                        border-radius: 3px;

                        &:hover {
                            transform: translateY(-2px);
                            box-shadow: 0 15px 30px -5px rgb(0 0 0 / 15%), 0 0 5px rgb(0 0 0 / 10%);
                        }
                    }
                }
                .btn {
                    margin: 0 auto;
                    width: 50%;
                }
                .checkbox {
                    font-weight: normal;
                }
                .form-signin-heading,
                .checkbox {
                    margin-bottom: 10px;
                }
                .form-control {
                    position: relative;
                    height: auto;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    padding: 10px;
                    font-size: 16px;
                }
                &:focus {
                    z-index: 2;
                    background-color: #ccffcc;
                }
                input[type="password"] {
                    margin-bottom: 10px;
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                }
            }
        }
        #page1 {
            width: 94%;
            margin: 0 auto 64px auto;
            .updatepj-container {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
                grid-gap: 5px;
                margin: 30px 0;

                .updatepj-items {
                    color: #010101;
                    background-color: #fff1d6;
                    border-bottom: solid 3px #d8ad57;
                    border-radius: 15px;
                    text-align: center;
                    padding: 10px 5px;
                    h3 {
                        margin: 10px;
                        white-space: nowrap;
                    }
                    .select-div {
                        width: fit-content;
                        margin: auto;
                    }
                }
            }
            .cute-img {
                display: flex;
                justify-content: center;
            }
            .back-btn-container,
            .btndesign-2 {
                text-align: center;
                margin: 30px auto;
                .back-btn {
                    position: relative;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    margin: 0 auto;
                    max-width: 240px;
                    padding: 10px 25px;
                    color: #fff;
                    transition: 0.3s ease-in-out;
                    font-weight: 600;
                    background: #d8ad57;
                    filter: drop-shadow(0px 2px 4px #ccc);
                    border-radius: 50px;
                    border: none;
                    &:hover {
                        transform: translateY(-2px);
                        box-shadow: 0 15px 30px -5px rgb(0 0 0 / 15%), 0 0 5px rgb(0 0 0 / 10%);
                    }
                }
            }
            .form-design {
                display: flex;
                flex-direction: column;
                margin: 64px auto;
                text-align: center;
                background-color: #fff1d6;
                width: 60%;
                border-radius: 30px;
                border: 2px dotted #d8ad57;
                .form-title {
                    font-size: 40px;
                    font-family: monospace;
                    margin: 0;
                    color: chocolate;
                }
                .form-body {
                    .form-control {
                        margin: 5px 0;
                        height: 20px;
                        padding: 1px 5px;
                    }
                }
                .btndesign-2 {
                    margin: 10px 0;
                }
            }
            .pjs-list-title {
                position: relative;
                background: #fff1d6;
                box-shadow: 0px 0px 0px 5px #fff1d6;
                border: dashed 2px white;
                width: 30%;
                margin: 7px auto;
                text-align: center;
                padding: 3px 20px;
                &:after {
                    position: absolute;
                    content: "";
                    left: -7px;
                    top: -7px;
                    border-width: 0 0 15px 15px;
                    border-style: solid;
                    border-color: #fff #fff #ffe7b7;
                    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
                }
            }
            .point-dog {
                display: flex;
                justify-content: center;
                text-align: center;
                align-items: center;
                .dog-coment {
                    border-top: 2px solid #d8ad57;
                    border-bottom: 2px solid #d8ad57;
                    border-radius: 5px;
                    .checked-mes {
                        color: #4145ff;
                    }
                }
            }
            #role-counts-display-none,
            #role-counts-display-noneP,
            #rest-typing-display-none,
            #rest-typing-display-noneP {
                display: none;
            }
            .role-counts-ya,
            .role-counts-yaP {
                position: relative;
                #role-counts-display,
                #role-counts-displayP {
                    position: absolute;
                    padding: 2px;
                    color: #b91515;
                    background-color: rgb(255 245 227);
                    border: 3px solid #d8ad57;
                    width: 90%;
                    height: 90vh;
                    font-size: 80%;
                    font-weight: 500;
                    left: 5%;
                    top: 0;
                    border-radius: 5px;
                    line-height: 1.8em;
                    z-index: 1000;
                    .rolecount-title {
                        font-size: 250%;
                        padding: 20px 0 10px 0;
                        width: 30%;
                        margin: 5px auto;
                        border-bottom: double 4px #d8ad57;
                        white-space: nowrap;
                        color: #000000;
                        text-align: center;
                    }
                    .rolecount-table {
                        margin: 0 auto;
                        .rolecount-tbody {
                            .rolecount-tr-header {
                                .rolecount-header-th {
                                    border-bottom: 4px #d8ad57 double;
                                }
                            }
                            .rolecount-td-data {
                                text-align: center;
                            }
                        }
                    }
                }
            }
            .pjs-list {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
                grid-gap: 3px;
                margin: 30px 0;

                .pjs-item {
                    font-size: 16px;
                    color: #010101;
                    background-color: #fff1d6;
                    border-bottom: solid 3px #d8ad57;
                    border-radius: 3px;
                    text-align: center;
                    padding-top: 5px;
                    .newpj-mark {
                        color: #ff3939;
                    }
                    .AmPm {
                        font-size: 12px;
                        border-top: 2px dotted #c2a366;
                        color: #310000;
                        background: #fffbf3;
                        padding: 4px 0;
                        margin: 0;
                        border-radius: 3px;
                        span {
                            background-color: #dfba7054;
                        }
                    }
                }
            }
            .page1-form-container {
                margin: 30px 0;
                &.shiftlist-page-container {
                    display: flex;
                    justify-content: center;
                }

                .trainer-trainee-form-container {
                    display: flex;
                    flex-direction: column;
                    margin: 30px 0;

                    .trainer-trainee-form-table {
                        .trainer-trainee-form-thead {
                            .trainer-trainee-form-thead-tr {
                                .trainer-trainee-form-thead-th {
                                    padding: 10px 0px;
                                    &.trainer-trainee-check-thead-th {
                                        width: 50%;
                                    }
                                }
                            }
                        }
                        #trainer-trainee-form-tbody,
                        .trainer-trainee-check-tbody {
                            .trainer-trainee-form-tbody-td {
                                padding: 3px 0;
                                border-bottom: 2px #d8ad57 dotted;
                                background-color: rgb(255 245 227);
                                border-radius: 5px;
                                text-align: center;
                                input {
                                    width: 85%;
                                }
                            }
                        }
                    }
                }
                .page1-form-confirm-container {
                    display: flex;
                    justify-content: center;
                    .btn-design {
                        margin: 0 15px;
                        padding: 10px 25px;
                        color: #fff;
                        transition: 0.3s ease-in-out;
                        font-weight: 600;
                        background: #d8ad57;
                        filter: drop-shadow(0px 2px 4px #ccc);
                        border-radius: 50px;
                        border: none;
                    }
                }
            }
            .footer-design {
                .footer-design-div {
                    display: flex;
                    margin: 15px 0;
                    justify-content: center;

                    .btn-design {
                        margin: 0 15px;
                        padding: 10px 25px;
                        color: #fff;
                        transition: 0.3s ease-in-out;
                        font-weight: 600;
                        background: #d8ad57;
                        filter: drop-shadow(0px 2px 4px #ccc);
                        border-radius: 50px;
                        border: none;
                    }
                }
            }
        }
        #page2 {
            display: none;
        }
    }
    .underline {
        border-top: 3px double #d8ad57;
        width: 80%;
        margin: 10px auto;
    }
    .form-title {
        text-align: center;
        &.big-form-title {
            font-size: 30px;
        }
        p {
            margin-bottom: 5px;
            font-weight: 600;
            color: #d8ad57;
            letter-spacing: 0.04rem;
            display: inline-block;
            position: relative;
            &:before,
            &:after {
                display: inline-block;
                position: absolute;
                top: 45%;
                width: 20px;
                height: 3px;
                border-radius: 5px;
                background-color: #d8ad57;
                content: "";
            }
            &:before {
                left: -30px;
                -webkit-transform: rotate(50deg);
                transform: rotate(50deg);
            }
            &:after {
                right: -30px;
                -webkit-transform: rotate(-50deg);
                transform: rotate(-50deg);
            }
        }
    }
    .form-table-design {
        &.page1-check-table {
            width: 100%;
        }
        &.shiftlist-page-table {
            text-align: center;
            margin: 10px auto;
        }
        margin: 0 auto;
        .page1-form-thead {
            .page1-form-header-tr {
                .page1-form-header-th {
                    padding: 1px 15px;
                    border-bottom: 2px solid #d8ad57;
                    color: #000000;
                    background-color: rgb(255 245 227);
                    border-radius: 5px;
                    &.page1-check-header-th {
                        width: 100px;
                    }
                    &.tasting-color {
                        display: none;
                    }
                }
            }
        }
        .page1-form-tbody {
            .page1-form-tbody-tr {
                margin: 10px 0;
                .page1-form-tbody-th {
                    font-size: 11px;
                    border-bottom: 2px solid #d8ad57;
                    background-color: rgb(255 245 227);
                    border-radius: 3px;
                    .balloonoya {
                        position: relative; /* 指定した分だけ相対的に移動 */
                        cursor: pointer; /* カーソルをポインターで表示 */
                        display: inline-block;
                        span {
                            color: #000000;
                        }
                        img {
                            vertical-align: middle;
                            padding: 2px;
                        }
                    }
                    .balloonnone {
                        display: none;
                    }
                    .balloon {
                        position: absolute; /* 親要素を基準 */
                        display: inline; /* 要素をインラインとして表示 */
                        padding: 2px; /* テキストの前後の余白 */
                        background-color: rgb(255, 255, 26); /* 背景色（透明度） */
                        border: 1px solid #ff5e13;
                        width: 240px; /* 吹き出し全体の幅 */
                        left: 100%; /* 表示位置 */
                        font-size: 80%; /* 文字サイズ */
                        border-radius: 3px;
                        // letter-spacing: 0.2em;
                        line-height: 1.8em;

                        z-index: 1000;
                        &:after {
                            border-right: 12px solid #ff5e13; /* 吹き出し口の幅・色 */

                            border-top: 10px solid transparent; /* 吹き出し口の高さ１／２ */
                            border-bottom: 10px solid transparent; /* 吹き出し口の高さ１／２ */
                            left: -12px; /* 吹き出し口の位置調整 */
                            top: 0%; /* 吹き出し口の縦位置 */
                            content: ""; /* コンテンツの挿入 */
                            position: absolute; /* 親要素を基準 */
                        }
                    }
                }
                .page1-form-tbody-td {
                    border-bottom: 2px #d8ad57 dotted;
                    background-color: rgb(255 245 227);
                    border-radius: 5px;
                    padding: 4px 0 4px 5px;
                    &.page1-check-tbody-td {
                        color: #4145ff;
                        font-family: "Zen Old Mincho", serif;
                        font-size: 16px;
                        border-left: 1px black solid;
                        border-right: 1px black solid;
                        width: 200px;
                    }
                    input {
                        width: 85%;
                        padding: 2px 0 2px 5px;
                    }
                    span {
                        font-size: 11px;
                        border: 1px dotted #d8ad57 dotted;
                        padding: 1px 5px;
                        white-space: nowrap;
                    }
                }
            }
        }
    }
    .single-input-design {
        border-bottom: 2px #d8ad57 dotted;
        background-color: rgb(255, 245, 227);
        border-radius: 5px;
        text-align: center;
        padding: 2px 10px;
        margin: auto;
        input {
            width: 60px;
        }
    }
    .flex-design {
        display: flex;
        justify-content: center;
    }
    #addpjshift {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media print {
    // * {
    //     outline: 1px red solid;
    // }

    #page {
        display: flex;
        flex-direction: column;
        align-items: center;
        -webkit-print-color-adjust: exact; /* Chrome, Safari */
        color-adjust: exact; /* Firefox */
        filter: grayscale(100%); /* IE, Edge */
        #page1 {
            page-break-after: always;
            width: 1220px !important;
            line-height: 1.8;
            display: flex;
            justify-content: center;
            .back-btn-container {
                display: none;
            }
            .pjs-list-title {
                display: none;
            }
            .pjs-list {
                display: block !important;
                .pjs-item {
                    font-size: 10px !important;
                    background: none !important;
                    white-space: nowrap;
                    border: none !important;
                    .newpj-mark {
                        display: none;
                    }
                    .AmPm {
                        display: none;
                    }
                }
            }
            .point-dog {
                display: none !important;
            }

            .page1-form-container {
                display: flex;
                * {
                    background: none !important;
                    border-radius: 0 !important;
                    text-align: center;
                }
                .page1-form-table {
                    border: 1px solid;
                    width: 470px !important;
                    .page1-form-tbody-td {
                        border-left: 1px solid;
                        span {
                            border: 1px solid;
                        }
                    }
                }
                .towel-check {
                    font-size: 14px;
                }
                .trainer-trainee-form-container {
                    font-size: 11px;
                    white-space: nowrap;
                    .trainer-trainee-form-tbody-td {
                        font-size: 11px;
                    }
                }
            }
            .footer-design {
                display: none;
            }
        }
        #page2 {
            page-break-after: always;
            display: block !important;
            margin: 30px 10px 0 10px;
            width: 1200px;
            h2 {
                display: inline;
                padding: 3px 5px;
                border-left: 2px solid black;
            }
            .rest {
                display: flex;
                justify-content: space-around;
                .rest-ampm-container {
                    margin: 10px 20px;
                    width: 460px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    h3 {
                        position: relative;
                        font-size: 24px;
                        padding: 0 1em;
                        margin: 0px auto 8px auto;
                        width: 70%;
                        border-bottom: double 4px black;

                        &:before {
                            top: 40%;
                            right: -20%;
                            position: absolute;
                            transform: translateY(-50%);
                            content: url(/static/imgs/shiba.svg);
                        }
                        &:after {
                            font-weight: 100;
                            padding-left: 125px;
                            font-size: 21px;
                            content: "Zz";
                        }
                    }
                    table {
                        &.rest-tbl-design {
                            border-spacing: 0 0px;
                            border-top: solid 1px #000000;
                            th {
                                height: 53px;
                                border-bottom: solid 1px #000000;
                                position: relative;
                                border-left: 1px solid;
                                p {
                                    font-weight: 500;
                                    margin: 0 0;
                                    white-space: nowrap;
                                    border-top: 1px dotted black;
                                }
                            }
                            td {
                                width: 80%;
                                font-family: "Zen Old Mincho", serif;
                                font-size: 16px;
                                padding-left: 15px;
                                border-bottom: solid 1px #000000;
                                letter-spacing: 0.05em;
                                border-right: 1px solid black;
                                border-left: 1px dotted black;
                                position: relative;
                                &.td-title {
                                    font-family: none;
                                    text-align: center;
                                    font-weight: 600;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
